{% extends "base.html" %}
{% block title %}Forgot password{% endblock %}
{% block content %}
<div class="row text-center vertical-middle-sm">
    <h1>Forgot password</h1>
    <p>Please enter your Username and your Email.</p>
    <form class="form-horizontal" action="." method="post">{% csrf_token %}
        <div class="form-group">
            <label class='col-md-5 control-label text-right'>Username</label>
            <div class="col-md-6 text-left">{{ form.username }}</div>
        </div>
        <div class="form-group">
            <label class='col-md-5 control-label text-right'>Email</label>
            <div class="col-md-6 text-left">{{ form.email }}</div>
        </div>
        <input type="submit" value="Change my password" class="btn btn-primary btn-lg"/>
    </form>
</div>
{% endblock %}