{% extends "account/base_entrance.html" %}
{% load i18n %}
{% load static %}
{% load widget_tweaks %}
{% load allauth account %}

{% block head_title %}
    {% trans "Sign In" %}
{% endblock head_title %}

{% block content %}
<div class="container mt-3">
    <div class="row justify-content-center">
        <div class="col-md-5">
            {% element h1 %}
                {% trans "Sign In" %}
            {% endelement %}

			{% setvar link %}<a class="text-decoration-none" href="{{ signup_url }}">{% endsetvar %}
			{% setvar end_link %}</a>{% endsetvar %}
			<p>
				{% blocktranslate %}Don't have an account? then please {{ link }}sign up{{ end_link }}.{% endblocktranslate %}
			</p>

			<div class="card shadow-sm">
				<div class="text-center mt-3">
					<img src="{% static 'images/favicon.png' %}"
							alt="Logo"
							class="img-fluid rounded-circle shadow"
							style="width: 70px; height: 70px; object-fit: cover;">
				</div>
				<div class="card-body">
					{% url 'account_login' as login_url %}
					{% if not SOCIALACCOUNT_ONLY %}
                        <form method="post" action="{{ login_url }}" class="form">
                            {% csrf_token %}
							<!-- 通用错误提示（登录失败、密码错误等） -->
							{% if form.non_field_errors %}
								<div class="alert alert-danger">
									{% for error in form.non_field_errors %}
										<p>{{ error }}</p>
									{% endfor %}
								</div>
							{% endif %}

                            <!-- 循环输出字段，保证每个字段都有 form-floating 容器 -->
                            {% for field in form %}
								<div class="form-floating mb-3">
									{% if field.name == "login" %}
										<!-- 给 login字段重置 placeholder -->
										{{ field|add_class:"form-control"|attr:"placeholder:Username or Email" }}
										<label for="{{ field.id_for_label }}">Username or Email</label>
									{% else %}
										{{ field|add_class:"form-control"|attr:"placeholder: " }}
										<label for="{{ field.id_for_label }}">{{ field.label }}</label>
									{% endif %}
									{% if field.errors %}
									<div class="invalid-feedback">
										{{ field.errors }}
									</div>
									{% endif %}
								</div>
                            {% endfor %}
							<!-- forget password -->
							<div class="d-flex justify-content-end">
								<a class="text-decoration-none" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
							</div>

                            <!-- redirect_field & 提交按钮 -->
                            {{ redirect_field }}
							<div class="d-flex justify-content-center">
								<button type="submit" class="btn btn-primary">
									{% trans "Sign In" %}
								</button>
							</div>
                        </form>
					{% endif %}

					{% if LOGIN_BY_CODE_ENABLED %}
						{% element hr %}
						{% endelement %}
						{% element h2 %}
							{% element button href=request_login_code_url tags="prominent,login,secondary" %}
								{% trans "Mail me a sign-in code" %}
							{% endelement %}
						{% endelement %}
					{% endif %}

					{% if SOCIALACCOUNT_ENABLED %}
						{% include "socialaccount/snippets/login.html" with page_layout="entrance" %}
					{% endif %}
				</div>
			</div>
        </div>
    </div>
</div>
{% endblock content %}
