{% extends "user_center/base.html" %}
{% block title %}Profile Settings {% endblock %}
{% block extra_head %}
<style>
.avatar-icon {
    width: 50px; /* Adjust the size as needed */
    height: 50px;
    margin: 5px;
    cursor: pointer;
    border-radius: 50%;
}
</style>
{% endblock %}
{% block content %}
<div class="card-header bg-transparent border-bottom mt-3 mb-2">
    <h3 class="card-header-title mb-0">Edit Profile</h3>
    <h5 class="card-header-title mb-2 text-end">Register at {{ userprofile.register_time }}.</h5>
</div>
<div class="card-body">
    <!-- Form -->
    <form class="row g-4" method="post" action="{% url 'account:myself_edit' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <!-- Profile picture -->
        <div class="col-12 justify-content-center align-items-center">
            <label class="form-label">Choose an avatar</label>
            <div class="d-flex align-items-center">
                <!-- Avatar place holder -->
                <span id="selected-avatar" class="avatar avatar-xl">
                    <img class="avatar-img rounded-circle border border-white border-3 shadow" src="{{ user.photo }}" alt="">
                </span>
                <!-- Image selection -->
                <div id="image-options" class="d-flex justify-content-center align-items-center">
                    <img class="avatar-icon" src="/static/user_avatar/1.png" onclick="selectImage('/static/user_avatar/1.png')">
                    <img class="avatar-icon" src="/static/user_avatar/2.png" onclick="selectImage('/static/user_avatar/2.png')">
                    <img class="avatar-icon" src="/static/user_avatar/3.png" onclick="selectImage('/static/user_avatar/3.png')">
                    <img class="avatar-icon" src="/static/user_avatar/4.png" onclick="selectImage('/static/user_avatar/4.png')">
                    <img class="avatar-icon" src="/static/user_avatar/5.png" onclick="selectImage('/static/user_avatar/5.png')">
                    <img class="avatar-icon" src="/static/user_avatar/6.png" onclick="selectImage('/static/user_avatar/6.png')">
                    <img class="avatar-icon" src="/static/user_avatar/7.png" onclick="selectImage('/static/user_avatar/7.png')">
                    <img class="avatar-icon" src="/static/user_avatar/8.png" onclick="selectImage('/static/user_avatar/8.png')">
                    <img class="avatar-icon" src="/static/user_avatar/9.png" onclick="selectImage('/static/user_avatar/9.png')">
                    <img class="avatar-icon" src="/static/user_avatar/10.png" onclick="selectImage('/static/user_avatar/10.png')">
                    <img class="avatar-icon" src="/static/user_avatar/11.png" onclick="selectImage('/static/user_avatar/11.png')">
                    <img class="avatar-icon" src="/static/user_avatar/12.png" onclick="selectImage('/static/user_avatar/12.png')">
                    <img class="avatar-icon" src="/static/user_avatar/13.png" onclick="selectImage('/static/user_avatar/13.png')">
                    <img class="avatar-icon" src="/static/user_avatar/14.png" onclick="selectImage('/static/user_avatar/14.png')">
                    <!-- Add more images as needed -->
                </div>
            </div>
        </div>

        <!-- Full name -->
        <div class="col-12">
            <label class="form-label">Full name</label>
            <div class="input-group">
                <input type="text" class="form-control" name="first_name" value="{{ userprofile.first_name }}" placeholder="First name">
                <input type="text" class="form-control" name="last_name" value="{{ userprofile.last_name }}" placeholder="Last name">
            </div>
        </div>

        <!-- Username -->
        <div class="col-md-6">
            <label class="form-label">User name</label>
            <div class="input-group">
                <span class="input-group-text">RootPath.com</span>
                <input type="text" class="form-control" value="{{ user.username }}" disabled>
            </div>
        </div>

        <!-- Email id -->
        <div class="col-md-6">
            <label class="form-label">Email id</label>
            <input class="form-control" name="email" type="email" value="{{ userprofile.email }}" placeholder="Email">
        </div>

        <!-- Phone number -->
        <div class="col-md-6">
            <label class="form-label">Phone number</label>
            <input type="text" class="form-control" name="phone" value="{{ userprofile.phone }}" placeholder="Phone number">
        </div>

        <!-- level -->
        <div class="col-md-6">
            <label class="form-label">Level</label>
            <input class="form-control" type="text" name="level", value="{{ userprofile.level }}" disabled>
        </div>

        <!-- Company -->
        <div class="col-md-6">
            <label class="form-label">Company / Institute</label>
            <input class="form-control" type="text" name="company" value="{{ userprofile.company }}">
        </div>
        
        <!-- department -->
        <div class="col-md-6">
            <label class="form-label">Department</label>
            <input class="form-control" type="text" name="department" value="{{ userprofile.department }}">
        </div>

        <!-- Shipping address -->
        <div class="col-12">
            <label class="form-label">Shipping Address</label>
            <input class="form-control mb-2" type="text" name="shipping_address" value="{{ userprofile.shipping_address }}">
        </div>

        <!-- Save button -->
        <!-- Your form fields go here -->
        <div class="d-sm-flex justify-content-end">
            <button type="submit" class="btn btn-primary mb-0">Save changes</button>
        </div>
    </form>
</div>
{% endblock %}
{% block javascript %}
<script>
    function selectImage(imagePath) {
        // 点击时，将图片路径上传给服务器，保存到数据库
        $.ajax({
            url: "{% url 'account:avatar_edit' %}",
            type: "POST",
            data: {
                "csrfmiddlewaretoken": "{{ csrf_token }}",
                "imagePath": imagePath,
                "userid": "{{ user.id }}",
            },
            success: function (data) {
                // 上传成功后, 刷新页面
                location.reload();
            }
        });
    }
</script>
{% endblock %}