{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}password reset{% endblock %}
{% block extra_head %} 
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
{% endblock %}
{% block content %}
<!-- <div class="row text-center vertical-middle-sm">

    <form class="form-horizontal" action="." method="post">{% csrf_token %}
        <div class="form-group">
            <label class="col-md-5 control-label text-right">Email</label> 
            <div class="col-md-6 text-left">{{ form.email }}</div>
        </div>
        <input type="submit" value="Send email" class="btn btn-primary btn-lg"> </form>
</div> -->

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-sm-10 col-xl-12 m-auto">
                    <!-- Title -->
                    <span class="mb-0 fs-1">🤔</span>
                    <h1 class="fs-2">Forgot Password?</h1>
                    <h5 class="fw-light mb-4">To receive a new password, enter your email address below.</h5>

                    <!-- Form START -->
                    <form action="." method="post">{% csrf_token %}
                        <!-- Email -->
                        <div class="mb-4">
                            <label for="exampleInputEmail1" class="form-label">Email address</label>
                            <div class="input-group input-group-lg">
                                <span class="input-group-text bg-light rounded-start border-0 text-secondary px-3">
                                    <i class="bi bi-envelope-fill"></i></span>
                                <!-- <input type="email" class="form-control border-0 bg-light rounded-end ps-1"
                                    placeholder="E-mail" id="exampleInputEmail1"> -->
                                {{ form.email|as_crispy_field }}
                            </div>
                        </div>
                        <!-- Button -->
                        <div class="align-items-center">
                            <div class="d-grid">
                                <button class="btn btn-primary mb-0" type="button">Reset password</button>
                            </div>
                        </div>
                    </form>
                    <!-- Form END -->
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}