{% extends "base.html" %}
{% block title %}password change{% endblock %}
{% block content %}
<div class="row text-center">
    <h2>Change Password</h2>
    <p>Please enter your old password, for security's sake, and then enter your new password</p>
    {% if form.new_password1.help_text %}
    <div>
        <p>{{ form.new_password1.help_text|safe }}</p>
    </div>
    {% endif %}
    <form class="" action="." method="post">{% csrf_token %}
        <div class="">
            <label class="control-label text-right">{{ form.old_password.label_tag }}</label>
            <div class="text-left">{{ form.old_password }}</div>
        </div>

        <div class="">
            <label class="control-label text-right">{{ form.new_password1.label_tag }}</label>
            <div class="text-left">{{ form.new_password1 }}</div>
        </div>

        <div class="">
            <label class="control-label text-right">{{form.new_password2.label_tag }}</label>
            <div class="text-left">{{ form.new_password2 }}</div>
        </div>
        <input type="submit" value="Change my password" class="btn btn-primary"/>
    </form>
</div>
{% endblock %}