# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
django==4.1
gunicorn==20.1.0
pillow==9.4.0
mysqlclient
python-decouple
django-widget-tweaks
pandas
django-cors-headers
reportlab
django-import-export
alibabacloud-dysmsapi20170525
biopython