# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
django
# gunicorn==20.1.0
pillow
mysqlclient
python-decouple
django-widget-tweaks
pandas
django-cors-headers
reportlab
django-import-export
alibabacloud-dysmsapi20170525
biopython
django-allauth
openpyxl
# 08-05-2024
# python-pptx 
jinja2
joblib
scikit-learn
celery
redis
xlsxwriter
