{% extends "emails/base_email.html" %}
{% block badge %}密码重置{% endblock %}
{% block heading %}重置你的 RootPath 密码{% endblock %}
{% block body %}
  <p style="margin:0 0 14px;">你好 {{ user.username }}，我们收到了你的密码重置请求。点击下面的按钮设置新密码：</p>
  {% include "emails/_button.html" with url=reset_link text="重置密码" %}
  <p style="margin:16px 0 0;font-size:12px;color:#97a1b3;">若按钮无法点击，请复制以下链接到浏览器打开：<br>
    <a href="{{ reset_link }}" style="color:#0a3a8c;word-break:break-all;">{{ reset_link }}</a></p>
  <p style="margin:12px 0 0;font-size:12px;color:#97a1b3;">若非本人操作，请忽略本邮件，你的密码不会被更改。</p>
{% endblock %}
