{% extends "emails/base_email.html" %}
{% block badge %}新用户注册{% endblock %}
{% block heading %}新用户注册：{{ user.username }}{% endblock %}
{% block body %}
  <p style="margin:0 0 14px;">有新用户完成注册，信息如下：</p>
  <table role="presentation" width="100%" cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse;">
    {% include "emails/_row.html" with label="用户名" value=user.username %}
    {% include "emails/_row.html" with label="注册邮箱" value=user.email|default:"(未填写)" %}
    {% include "emails/_row.html" with label="注册时间" value=user.date_joined %}
    {% include "emails/_row.html" with label="手机号码" value=user.userprofile.phone|default:"(注册时未收集)" %}
    {% include "emails/_row.html" with label="公司" value=user.userprofile.company|default:"(待补全)" %}
  </table>
  {% include "emails/_button.html" with url=base_url|add:"super_manage/user_manage/" text="查看用户列表" %}
{% endblock %}
