{% extends "emails/base_email.html" %}
{% block badge %}已收到{% endblock %}
{% block heading %}你的 Vector 文件已上传！{% endblock %}
{% block body %}
  <p style="margin:0 0 14px;">我们已收到你上传的 Vector 文件，工作人员将在 24 小时内审核。审核通过后即可在网站上查看使用。</p>
  <table role="presentation" width="100%" cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse;">
    {% include "emails/_row.html" with label="Vector 名称" value=vector.vector_name %}
    {% include "emails/_row.html" with label="上传时间" value=vector.create_date %}
    {% include "emails/_row.html" with label="当前状态" value=vector.status %}
  </table>
{% endblock %}
