{% extends "user_center/base.html" %}
{% load static %}
{% block title %}notification{% endblock %}
{% block content %}
<div class="container">
    <div class="row pt-3 mt-3 form-control">
        <div class="col-12">
        <h3 class="text-center">Your amino acid sequences have been submitted for codon optimization and sequence evaluation..</h3> 
        {% comment %} 
        <p>RootPath currently only provides local codon optimization and sequence evaluation. If you have entered forbidden sequences, they will be avoided during our sequence design.</p>
        <p>This feature of codon optimization will be available for online access very soon...</p> 
        <p>Your amino acid sequences have been submitted for codon optimization and sequence evaluation.</p>
        {% endcomment %}

        <p> Please come back in 10-20 minutes to check your results and finish your ordering.</p>
        <p> A notification email will be sent to your registration email address after evaluation is finished.</p>
        </div>
        <div class="row">
            <div class="col-4 mt-2 mb-4">
                <button class="btn btn-primary" onclick="window.location.href='{% url 'user_center:view_cart' %}'">Back to Shopping Cart</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
