{% extends "user_center/base.html" %}
{% load custom_filters %}
{% load static %}
{% block title %}Optimization{% endblock %}
{% block extra_head %}
{% endblock %}


{% block content %}
<div class="container">
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a class="text-decoration-none" href="{% url 'user_center:view_cart' %}">back to shopping cart</a></li>
            <li class="breadcrumb-item active" aria-current="page">
                <a class="text-decoration-none" href="#">{{ tools_name }}</a>
            </li>
        </ol>
    </nav>
    <div class="row pt-5">
        <span class="h1">Optimization request submitted successfully!</span>
        <P class="text-muted">You can check the status of the optimization request in the <a href="{% url 'user_center:view_cart' %}">shopping cart</a></P>
    </div>
</div>
{% endblock %}