{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}
{% block title %}Edit sequences{% endblock %}
{% block extra_head %}
<style>
    .small-dropdown-menu {
        --bs-dropdown-min-width:10px;
        --bs-dropdown-padding-y:0px;
    }
    .small-dropdown-item {
        padding:4px;
    }
    .small-dropdown-item:hover {
      background-color: rgba(5, 109, 232, 0.1);
    }
    .codon {
        border: 1px dashed black;
        display: inline-block;
        margin-right: -1px;
    }
    .fixed-right {
        position: fixed;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        background-color: #f0f0f0; /* 调整背景颜色 */
        border-radius: 10px 0 0 10px; /* 半圆形的边缘 */
    }
    .action-inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }
    .bi-exclamation-circle {
        font-size: 2rem;
        color: #dc3545;
    }
    .action-text {
        font-size: 0.8rem;
        color: #dc3545;
    }
    .fixed-right:hover {
        background-color: #e0e0e0;
        cursor: pointer;
    }
    .danger { background-color: red; }
    .warning { background-color: yellow; }
</style>
{% endblock %}
{% block content %}
<!-- 悬浮的竖条，用于触发Offcanvas -->
<div class="fixed-right" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">
    <div class="action-inner">
        <i class="bi bi-exclamation-circle"></i>
        <div class="action-text">WARNING</div>
    </div>
</div>

<!-- Offcanvas -->
<div class="offcanvas offcanvas-end" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Prohibition and Risk</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <!-- Tier 1 Warning -->
        <h4 class="bg-secondary text-white p-2">Tier 1 Warning:</h4>
        <p class="p-2"><span class="bg-danger text-white">Red color</span> highlighted sequences are <span class="text-danger">NOT</span> allowed for synthesis. Ordering will not proceed until approved by our SequenceAnalyzer.</p>
        <ul>
            <li>Overall GC% across the entire sequence is &le; 20% or &ge; 80%.</li>
            <li>Presence of forbidden sequences in the inquiry form.</li>
        </ul>
        <!-- Tier 2 Warning -->
        <h4 class="bg-secondary text-white p-2">Tier 2 Warning:</h4>
        <p class="p-2"><span class="bg-warning text-dark">Yellow color</span> highlighted sequences are <span class="text-warning">AT RISK</span> for synthesis. Modifications are recommended.</p>
        <p>We understand some sequences may not be editable. In this case, ordering can proceed, but it may affect the gene's success rate.</p>
        <ul>
            <li>Overall GC% across the entire sequence is within (20%, 30%] or [70%, 80%).</li>
            <li>Extremely high local GC content.</li>
            <li>Presence of long consecutive A/T/G/C.</li>
        </ul>
    </div>
</div>


<div class="container-fluid" style="padding-left:50px;">
    <div class="row mt-3">
        <h2>Editing Gene Sequences</h2>
        <div id="gene-info-list"></div>
        {% for gene in gene_list %}
        <!-- First Row -->
        <!-- test -->
        <div class="card-body text-truncate first_col_trun" id="original-sequence">
        </div>
        <div class="card-body monospace-text first_col_full" id="modified-sequence">
        </div>

        <div class="row mt-5">
            <div class="col-4">
                <p> Gene Name: {{ gene.gene_name }}</p>
                <p> Overall GC content: {{ gene.gc_content|floatformat:2 }}%</p>
            </div>
            <div class="col-6">
                <p>Forbidden check list <i class="bi bi-question-circle" data-bs-toggle="tooltip" data-bs-placement="top" 
                title="The listed sequences are avoided by default to assist subsequent cloning process"></i> : {{ gene.forbidden_check_list }}. </p>
                <p> And found : {{ gene.contained_forbidden_list }}</p>
            </div>
        </div>
        <!-- Second Row -->
        <div class="row mb-5 mt-3">
            <!-- First Column Original sequences -->
            <div class="col-md-5 col-12">
                <p class="monospace-text">Original sequences <i class="bi bi-question-circle" data-bs-toggle="tooltip" data-bs-placement="top" 
                    title="A 20 bp upstream vector sequence and a 20 bp downstream vector sequence are shown in grey. 
                    This only provides a view for insertion site, which is not counted for charging"></i> :</p>
                <!-- sequences content here -->
                <div class="card">
                    <div {% if gene.status != 'saved' %} style="display:none" {% endif %} class="card-body text-truncate first_col_trun" id="sequence-truncate">
                        <!-- <span class="text-lowercase">{{gene.vector.iu20}}</span> -->
                        {{ gene.original_seq|safe}}
                        <!-- <span class="text-lowercase">{{gene.vector.id20}}</span> -->
                    </div>
                    <div {% if gene.status == 'saved' %} style="display:none" {% endif %}  class="card-body monospace-text first_col_full" id="sequence">
                        <!-- <span class="text-lowercase">{{gene.vector.iu20}}</span> -->
                        {{ gene.original_seq|safe}}
                        <!-- <span class="text-lowercase">{{gene.vector.id20}}</span> -->
                    </div>
                </div>
            </div>
            <!-- Second Column Edited sequences -->
            <div class="col-md-5 col-12 .second_col">
                <p class="monospace-text">Edited sequences <i class="bi bi-question-circle" data-bs-toggle="tooltip" data-bs-placement="top" 
                    title="A 20 bp upstream vector sequence and a 20 bp downstream vector sequence are shown in grey. 
                    This only provides a view for insertion site, which is not counted for charging"></i> :</p>
                <div class="card">
                    <div {% if gene.status != 'saved' %} style="display:none" {% endif %} class="card-body text-truncate second_col_trun" contenteditable="false" id="edited-sequence-trun">
                        {{ gene.saved_seq|safe }}</div>
                    <div {% if gene.status == 'saved' %} style="display:none" {% endif %} class="card-body monospace-text second_col_full" contenteditable="true" id="edited-sequence">
                        {{ gene.saved_seq|safe }}</div>
                </div>
            </div>
            <!-- Third Column -->

            <div {% if gene.status == 'saved' %} style="display:none" {% endif %} class="col-md-2 col-12 edit-buttons">
                <p>Choose Species:</p>
                <div class="mt-3 species-select-container" style="max-width:182px;">
                        <select class="form-select species-select" id="species_select_{{ gene.id }}"  name="species_select">
                            <option value="" {% if not gene.species or not gene.species.species_name %}selected{% endif %}>Choose a species</option>
                            {% for species in species_names %}
                                <!-- 检查当前gene的species是否等于循环中的species -->
                                <!-- Add numbers by using the forloop.counter -->
                                <option value="{{ species }}" {% if gene.species and species == gene.species.species_name %}selected{% endif %}>
                                    {{ forloop.counter }}. {{ species }}
                                </option>
                            {% endfor %}
                        </select>
                        <!-- 将gene.id传递到后端 -->
                        <input type="hidden" class="gene-id" value="{{ gene.id }}">
                </div>
                <div class="mt-3">
                    <label for="frameshiftSelector">Choose frameshift:</label>
                    <select id="frameshiftSelector" class="form-select" style="max-width:182px;">
                        <option value="0" selected>0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                    </select>
                    <button class="btn btn-warning toggle-btn mt-3" data-displayed="false">Toggle Codon Boxes</button>
                </div>
                <div>
                    <button class="btn btn-primary mt-3 analysis-btn" data-gene-id="{{ gene.id }}">Re-analyze</button>
                    <button {% if gene.status != "validated" %}  style="display:none" {% endif %} class="btn btn-success mt-3 canSave" data-url="{% url 'user_center:validation_save' gene.id %}">Save</button>
                    <button {% if gene.status == "validated" %}  style="display:none" {% endif %} class="btn btn-secondary mt-3 noSave" disabled>Save</button>
                </div>
            </div>
            <div {% if gene.status != 'saved' %} style="display:none" {% endif %} class="col-md-2 col-12 saved-button">
                <div class="mt-3">
                    <button class="btn btn-primary mt-4 editButton" style="width:100px;" data-url="{% url 'user_center:gene_edit' gene.id %}">Edit</button>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="row">
        <div class="col text-center mb-5">
            <a href="{% url 'user_center:order_create' %}" class="btn btn-primary"><i class="bi bi-plus-circle"></i> Add more Genes</a>
            <a href="{% url 'user_center:view_cart' %}" class="btn btn-primary"><i class="bi bi-cart3"></i> Go to Shopping Cart</a>
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
<script src="{% static 'species/amino_acid_data.js' %}"></script>
<script src="{% static 'species/species_data.js' %}"></script>
<script>
    function getTagTextByHTML(html) {
        var tagged_seq = '';
        html.childNodes.forEach(function(item) {
            if(item.nodeType===Node.TEXT_NODE)  {
                tagged_seq += item.textContent;
                return;
            }
            if(item.childNodes[0] === undefined)
                return;
            item.childNodes[0].childNodes.forEach(function(item) {
                if(item.nodeType === Node.TEXT_NODE) {
                    tagged_seq += item.textContent;
                }
                else {
                    var tmp = item.innerText;
                    for(var i = 0;i < tmp.length;i++) {
                        item.innerText = tmp[i];
                        tagged_seq += item.outerHTML;
                    }
                }
            });
        });
        return tagged_seq;
    }

    function clickNewCodon(e, event) {
        // 替换codon
        e.setAttribute("aria-current", "true");
        e.parentElement.parentElement.parentElement.childNodes[0].innerText = e.innerText;
    }

    function displayCodonBoxes(editedSequenceDiv, shift, originalSeqContent) {
            let currentIndex = 0;
            let wrappedSeq = '';
            // 使用DOM解析器处理原始内容
            const tempDiv = document.createElement('div')
            tempDiv.innerHTML = originalSeqContent;

            // 递归函数来遍历节点并正确添加密码子框
            function processNode(node, index, length) {
                const begin = `<span class="codon"><span data-bs-toggle="dropdown">`;
                const end = `</span><ul class="dropdown-menu small-dropdown-menu"></ul></span></span>`;
                
                var len = node.nodeType === Node.TEXT_NODE? node.textContent.length : 1;
                    // 处理文本节点
                for (let i = 0; i < len; i++) {
                    var content;
                    if(node.nodeType === Node.TEXT_NODE){
                        if(!/[a-zA-Z]/.test(node.textContent[i])) continue;
                        content = node.textContent[i];
                    }
                    else{
                        if(!/[a-zA-Z]/.test(node.innerText)) continue;
                        content = node.outerHTML;
                    }
                    // 跳过非字母节点
                    if ((currentIndex - shift) % 3 === 0) {
                        wrappedSeq += begin;
                    }

                    wrappedSeq += content;
                                            
                    if ((currentIndex - shift + 1) % 3 === 0) {
                        wrappedSeq += end;
                    }
                    currentIndex++;
                }
            }
            var len = tempDiv.childNodes.length;
            tempDiv.childNodes.forEach((child,index) => processNode(child,index,len));
            editedSequenceDiv.innerHTML = wrappedSeq;

            document.querySelectorAll(".codon").forEach(function(codonBox, index) {
                var selector = codonBox.closest('.col-md-5').nextElementSibling.querySelector(".form-select");
                // 添加事件监听器
                addCodonBoxEventListeners(codonBox, selector);

            });
    }

    function getCodonDetail(specie_name, codon) {
        // Check if species object is defined and has the specie_name property
        if (species.hasOwnProperty(specie_name)) {
            // console.log("species: ", species);
            // Check if the codon exists for the given species
            const specieData = species[specie_name];
            // console.log("specieData: ", specieData);
            if (specieData.hasOwnProperty(codon)) {
                const acid = specieData[codon]["Amino acid"];
                // Check if amino acid data exists
                if (aminoAcid.hasOwnProperty(specie_name) && aminoAcid[specie_name].hasOwnProperty(acid)) {
                    return aminoAcid[specie_name][acid];
                }
            }
        }
        return null; // Return null if no matching data is found
    }

    // 添加事件监听器
    function addCodonBoxEventListeners(codonBox, selector) {
        codonBox.addEventListener("click", function(e, event) {
            const codon = codonBox.childNodes[0].textContent;
            // console.log("mouse select species and codon: ", selector.value, codon);
            const list = getCodonDetail(selector.value, codon);
            // console.log("get codon detail list: ", list)
            const item_begin = `<li><a class="dropdown-item small-dropdown-item" onclick="clickNewCodon(this,event)">`;
            const item_end = `</a></li>`;
            var ul = codonBox.querySelector("ul");
            if(list === null)
                return;
            ul.innerHTML = ""
            if(list.length > 0) {
                for (let i = 0; i < list.length; i++) {
                    // 追加列表元素
                    ul.innerHTML += (item_begin + list[i]["Triplet"] + item_end)
                }
            }
        });
        codonBox.addEventListener("mouseenter", function(e, event) {
            const codon = e.srcElement.innerText.toUpperCase();
            const list = getCodonDetail(selector.value, codon);
            if (list === null) {
                codonBox.setAttribute('title', "Unknown");
            }
            else{
                // var text = 'Triplet(' + list[0]["Amino acid"] + ')   Frequency  Fraction \n'
                var text = '\t ' + list[0]["Amino acid"] + ' \t Frequency  Fraction \n'
                list.forEach(function(item) {
                    var fre = item["Frequency"].toFixed(2).padEnd(9, ' ');
                    var fra = item["Fraction"].toFixed(2).padEnd(9, ' ');
                    // 尽量对齐，不足加空格
                    text += ('  ' + item["Triplet"] + " :").padEnd(13, ' ') + "  " + fre + "\t" + fra + '\n';
                });
                codonBox.setAttribute('title', text);
            }
        });
    }

    // 点击species_select按钮时，保存物种名称到数据库中, 这部分功能是完整的。
    document.querySelectorAll('.species-select').forEach(function(selectElement) {
        selectElement.addEventListener('change', function() {
            const species = this.value;
            const geneContainer = this.closest('.species-select-container');
            const geneId = geneContainer.querySelector('.gene-id').value;

            // 这里发送您的AJAX请求...
            $.ajax({
                url: '/user_center/save_species/',
                type: 'POST',
                headers: {'X-CSRFToken': '{{ csrf_token }}'},
                data:JSON.stringify({
                    species: species,
                    gene_id: geneId,
                }),
                success: function(response) {
                    if(response.status === 'success') {
                        // alert(response.message); // 或其他方式显示成功消息
                        // location.reload();
                        console.log(response);
                    } else {
                        console.log(response);
                        alert(response.message); // 或其他方式显示错误消息
                    }
                },
                error: function() {
                    alert('请求失败'); // 或其他方式显示错误消息
                }
            });
        });
    });

    // 点击Toggle Codon Boxes按钮时，显示或隐藏codon框
    document.addEventListener("DOMContentLoaded", function() {
        const toggleButtons = document.querySelectorAll(".toggle-btn");
        const selectors = document.querySelectorAll("species-select");  // 获取所有的物种选择器

        // 为每个Toggle Codon Boxes按钮添加事件监听器
        toggleButtons.forEach(function(toggleButton) {
            const editedSequenceDiv = toggleButton.closest('.col-md-2').previousElementSibling.querySelector("#edited-sequence");
            const frameshiftSelector = toggleButton.closest('.col-md-2').querySelector("#frameshiftSelector");

            frameshiftSelector.addEventListener("change", function(e, event) {
                if (toggleButton.dataset.displayed === "true") {
                    displayCodonBoxes(editedSequenceDiv, parseInt(frameshiftSelector.value), getTagTextByHTML(editedSequenceDiv));
                }
            });

            toggleButton.addEventListener("click", function() {
                // console.log("click", toggleButton.dataset.displayed);
                if (toggleButton.dataset.displayed === "true") {
                    // 隐藏codon框
                    editedSequenceDiv.innerHTML = getTagTextByHTML(editedSequenceDiv);
                    toggleButton.dataset.displayed="false";
                } else {
                    // 显示codon框
                    displayCodonBoxes(editedSequenceDiv, parseInt(frameshiftSelector.value), editedSequenceDiv.innerHTML);
                    toggleButton.dataset.displayed="true";
                }
            });
        });

    });

</script>
<script>
    // 点击Re-analyze按钮时，发送请求
    document.addEventListener("DOMContentLoaded", function() {
        const analysisButtons = document.querySelectorAll(".analysis-btn"); 

        analysisButtons.forEach(function(analysisButton) {
            analysisButton.addEventListener("click", function() {
                const editedSequenceDiv = analysisButton.closest('.col-md-2').previousElementSibling.querySelector("#edited-sequence");
                const geneID = analysisButton.getAttribute("data-gene-id");
                const toggleButton = analysisButton.closest('.col-md-2').querySelector(".toggle-btn");
                const frameshiftSelector = analysisButton.closest('.col-md-2').querySelector("#frameshiftSelector");
                const canSaveButton = analysisButton.closest('.col-md-2').querySelector(".canSave");
                const noSaveButton = analysisButton.closest('.col-md-2').querySelector(".noSave");
                // 获取editedSequenceDiv的内容和geneName
                const sequenceContent = editedSequenceDiv.innerText;
        
                // 构建要发送的数据
                const data = {
                    sequence: sequenceContent,
                    gene_id: geneID,
                };
                // 创建一个新的XMLHttpRequest对象
                const xhr = new XMLHttpRequest();

                xhr.open('POST', `/user_center/gene_validation/`, true);

                // 设置请求头，以便服务器知道我们发送的是JSON数据
                xhr.setRequestHeader('Content-Type', 'application/json;charset=UTF-8');
                xhr.setRequestHeader('X-CSRFToken', '{{ csrf_token }}');
                // 设置回调函数，处理响应数据
                xhr.onreadystatechange = function() {
                    if (xhr.readyState == 4 && xhr.status == 200) {
                        const response = JSON.parse(xhr.responseText);
                        // 你可以在这里加入处理响应数据的代码
                        if(response.status === 'success') {
                            // 弹窗提示
                            alert('Re-analyzed!');
                            if(toggleButton.dataset.displayed === "true") {
                                displayCodonBoxes(editedSequenceDiv, parseInt(frameshiftSelector.value), response.new_seq);
                            }
                            else
                                editedSequenceDiv.innerHTML = response.new_seq;
                            if(response.seq_status === 'validated') {
                                canSaveButton.style.display = "";
                                noSaveButton.style.display = "none";
                            }
                            else {
                                canSaveButton.style.display = "none";
                                noSaveButton.style.display = "";
                            }
                        } else if (response.status === 'error') {
                            alert(response.message);
                        }
                    };
                };

                // 发送请求
                xhr.send(JSON.stringify(data));
            });
        });
    });
</script>
<script>
// for save button
$(document).ready(function() {
    $('.canSave').on('click', function(e, event) {
        const url = $(this).data('url');
        const tmp = e.target.closest('.col-md-2')
        const tmp2 = e.target.closest('.mb-5')

        const editedSequenceDiv = tmp.previousElementSibling.querySelector("#edited-sequence");
        const toggleButton = tmp.querySelector(".toggle-btn");
        const frameshiftSelector = tmp.querySelector("#frameshiftSelector");
        const editButtons = e.target.closest('.edit-buttons')
        const savedButton = tmp2.querySelector('.saved-button')
        const first_col_trun = tmp2.querySelector('.first_col_trun')
        const first_col_full = tmp2.querySelector('.first_col_full')
        const second_col_trun = tmp2.querySelector('.second_col_trun')
        const second_col_full = tmp2.querySelector('.second_col_full')
        // 获取editedSequenceDiv的内容和geneName
        const sequenceContent = editedSequenceDiv.innerText;
        
        // 构建要发送的数据
        $.ajax({
            url: url,
            type: 'POST',
            headers: {'X-CSRFToken': '{{ csrf_token }}'},
            data:JSON.stringify({
                sequence: sequenceContent,
            }),
            success: function(response) {
                if(response.status === 'success') {
                    // alert(response.message); // 或其他方式显示成功消息
                    alert('Save success!');
                    editedSequenceDiv.innerHTML = response.new_seq;
                    editButtons.style.display = "none";
                    savedButton.style.display = "";
                    first_col_full.style.display = "none";
                    first_col_trun.style.display = "";
                    second_col_full.style.display = "none";
                    second_col_trun.style.display = "";
                } else {
                    // console.log(response);
                    alert(response.message); // 或其他方式显示错误消息
                }
            },
            error: function() {
                alert('请求失败'); // 或其他方式显示错误消息
            }
        });
    });
});
// for edit button
$(document).ready(function() {
    $('.editButton').on('click', function(e, event) {
        const url = $(this).data('url');

        const savedButton = e.target.closest('.saved-button')
        const tmp = e.target.closest('.mb-5')

        const editButtons = tmp.querySelector('.edit-buttons')
        const first_col_trun = tmp.querySelector('.first_col_trun')
        const first_col_full = tmp.querySelector('.first_col_full')
        const second_col_trun = tmp.querySelector('.second_col_trun')
        const second_col_full = tmp.querySelector('.second_col_full')
        $.ajax({
            url: url,
            type: 'POST',
            headers: {'X-CSRFToken': '{{ csrf_token }}'},
            success: function(response) {
                if(response.status === 'success') {
                    // alert(response.message); // 或其他方式显示成功消息
                    editButtons.style.display = "";
                    savedButton.style.display = "none";
                    first_col_full.style.display = "";
                    first_col_trun.style.display = "none";
                    second_col_full.style.display = "";
                    second_col_trun.style.display = "none";
                } else {
                    alert(response.message); // 或其他方式显示错误消息
                }
            },
            error: function() {
                alert('请求失败'); // 或其他方式显示错误消息
            }
        });
    });
});
</script>

<script>
    // 获取模板中的数据
    const originalSeq = "{{ gene.original_seq|escapejs }}";
    const originalHighlightsRaw = `{{ gene.original_highlights|default_if_none:"[]"|escapejs }}`;
    const modifiedSeq = "{{ gene.combined_seq|escapejs }}";
    const modifiedHighlightsRaw = `{{ gene.modified_highlights|default_if_none:"[]"|escapejs }}`;

    console.log('Original Highlights Raw:', originalHighlightsRaw);
    console.log('Modified Highlights Raw:', modifiedHighlightsRaw);

    try {
        const originalHighlights = JSON.parse(originalHighlightsRaw);
        const modifiedHighlights = JSON.parse(modifiedHighlightsRaw);

        function highlightSequence(seq, highlights) {
            let highlightedSeq = '';
            for (let i = 0; i < seq.length; i++) {
                let highlightClass = '';
                for (const highlight of highlights) {
                    if (i >= highlight.start && i < highlight.end) {
                        highlightClass = highlight.type;
                        break;
                    }
                }
                highlightedSeq += highlightClass
                    ? `<span class="${highlightClass}">${seq[i]}</span>`
                    : seq[i];
            }
            return highlightedSeq;
        }

        // 应用高亮到序列
        document.getElementById('original-sequence').innerHTML = highlightSequence(originalSeq, originalHighlights);

        if (modifiedSeq && modifiedHighlights.length) {
            document.getElementById('modified-sequence').innerHTML = highlightSequence(modifiedSeq, modifiedHighlights);
        }
    } catch (error) {
        console.error('Error parsing JSON:', error);
    }
</script>
{% endblock %}

