<div class="d-flex flex-column flex-shrink-0 p-3 bg-body-tertiary mt-3 leftslider">
	<button class="toggle-sidebar-btn" id="toggleSidebarBtn" title="Toggle Sidebar">
		<i class="bi bi-chevron-left"></i>
	</button>
	<hr>
	<ul class="nav nav-pills flex-column mb-auto">
		<li>
			<a href="{% url 'user_center:dashboard' %}" class="nav-link link-body-emphasis {% if request.path == '/user_center/dashboard/' %}active{% endif %}">
				<i class="bi bi-speedometer2 me-2"></i>
				<span class="link-text">Dashboard</span>
			</a>
		</li>
		<li>
			<a href="{% url 'user_center:order_create' %}" class="nav-link link-body-emphasis {% if request.path == '/user_center/order_create/' %}active{% endif %}">
				<i class="bi bi-journal-text me-2"></i>
				<span class="link-text">Create New Order</span>
			</a>
		</li>
		<li>
			<a href="{% url 'user_center:view_cart' %}" class="nav-link link-body-emphasis {% if request.path == '/user_center/view_cart/' %}active{% endif %}">
				<i class="bi bi-cart4 me-2"></i>
				<span class="link-text">Shopping Cart</span>
			</a>
		</li>
		<li>
			<a href="{% url 'user_center:manage_order' %}" class="nav-link link-body-emphasis {% if request.path == '/user_center/manage_order/' %}active{% endif %}">
				<i class="bi bi-table me-2"></i>
				<span class="link-text">Order Status</span>
			</a>
		</li>
		<li>
			<a href="{% url 'user_center:manage_vector' %}" class="nav-link link-body-emphasis {% if request.path == '/user_center/manage_vector/' %}active{% endif %}">
				<i class="bi bi-palette me-2"></i>
				<span class="link-text">Manage Vectors</span>
			</a>
		</li>
		<li>
			{% comment %} <a href="{% url 'account:settings' %}" class="nav-link link-body-emphasis {% if request.path == '/account/settings/' %}active{% endif %}"> {% endcomment %}
			<a href="#" class="nav-link link-body-emphasis {% if request.path == '/account/settings/' %}active{% endif %}">
				<i class="bi bi-gear me-2"></i>
				<span class="link-text">Settings</span>
			</a>
		</li>

	</ul>
	<hr>
</div>