{% extends 'base.html' %}
{% block title %}order{% endblock %}
{% block extra_head %}
    <style>
        .workflow-step {
            display: flex;
            align-items: center;
            flex-direction: column;
            padding: 20px;
        }
        .workflow-icon {
            background-color: #ffe6cc;
            padding: 30px;
            border-radius: 50%;
            margin-bottom: 10px;
        }
    </style>
{% endblock %}
{% block content %}
<div class="container">
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb" class="mt-2">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'tools:tools_list' %}" class="text-decoration-none">User Center</a></li>
            <li class="breadcrumb-item active" aria-current="page"></li>
        </ol>
    </nav>
    <div class="card mt-5">
        <h2 class="text-center mt-3 ">下单流程</h2>
        <div class="d-flex justify-content-between mb-4 mt-3">
            <div class="workflow-step">
                <div class="workflow-icon mb-3">
                    <i class="bi bi-journal-text"></i>
                </div>
                选择载体
                <small>选择已有载体，或构建自己的载体</small>
            </div>
            <div class="workflow-step">
                <div class="workflow-icon mb-3">
                    <i class="bi bi-display"></i>
                </div>
                选择物种
                <small>目前已支持20种物种,选择合适物种</small>
            </div>
            <div class="workflow-step">
                <div class="workflow-icon mb-3">
                    <i class="bi bi-folder-check"></i>
                </div>
                填写合成序列
                <small>将需要合成的序列填写在表格中即可</small>
            </div>
            <div class="workflow-step">
                <div class="workflow-icon mb-3">
                    <i class="bi bi-person-check"></i>
                </div>
                验证序列
                <small>通过Analysis工具验证序列可用验证</small>
            </div>
            <div class="workflow-step">
                <div class="workflow-icon mb-3">
                    <i class="bi bi-check-lg"></i>
                </div>
                提交订单
                <small>检查完成无误后即可完成下单完成</small>
            </div>
        </div>
    </div>
    <div class="card mt-5">
        <h2 class="text-center mt-3">开始下单</h2>
        
        <div class="card-body">
            <div class="card-title mb-3">
                <h3>Step 1 选择载体</h3>
            </div>
            <select class="form-select" multiple aria-label="Multiple select example">
                <option selected>Open this select menu</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>
        </div>
            
        <div class="card-body">
            <div class="card-title mb-3">
                <h3>Step 2 选择物种</h3>
            </div>
            <select class="form-select" multiple aria-label="Multiple select example">
                <option selected>Open this select menu</option>
                <option value="1">E.coli</option>
                <option value="2">Yeast</option>
                <option value="3">Mammalian</option>
            </select>
        </div>
    
        <div class="card-body">
            <div class="card-title">
                <h3>Step 3 提交合成序列</h3>
            </div>
            <div id="example" class="mt-3">
                <button onclick="postData()" class="btn btn-primary mt-4">Submit & Analyze Sequences</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block javascript %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
<script>
    const container = document.querySelector('#example');
    const hot = new Handsontable(container, {
        colHeaders: ['Gene Name', 'NT|AA Sequence', 'ForbiddenSeqs'],
        rowHeaders: true,
        colWidths: [300, 600, 300],  // 设置每列的宽度
        columns: [
            { data: 'GeneName' },
            { data: 'Sequence' },
            { data: 'forbiddenSeqs' },
        ],
        height: 'auto',
        licenseKey: 'non-commercial-and-evaluation', // for non-commercial use only
    });

    function postData() {
        // 获取Handsontable中的数据
        const data = hot.getData();

        // 使用fetch API发送数据到服务器
        fetch('/user_center/order_create/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token }}'
            },
            body: JSON.stringify(data)
        })
        .then(response => response.json())
        .then(data => {
            console.log('Success:', data);
            // 跳转到载体分析页面
            window.location.href = '/user_center/manage_order/';
        })
        .catch((error) => {
            console.error('Error:', error);
        });
    }
</script>
{% endblock %}
