{% extends 'base.html' %}
{% block title %}载体构建{% endblock %}
{% block content %}
<div class="container">
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb" class="mt-2">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'tools:tools_list' %}" class="text-decoration-none">User Center</a></li>
            <li class="breadcrumb-item active" aria-current="page"></li>
        </ol>
    </nav>

    <div class="card mt-3">
        <div class="card-header">
            <h3>载体构建流程</h3>
        </div>
        <div class="card-body">
            <p>1. 提交载体序列</p>
            <p>2. 人工分析序列</p>
            <p>3. 保存载体信息</p>
        </div>
    </div>
    <div class="card mt-3">
        <div class="card-header">
            <h3>Step 1 提交载体序列</h3>
        </div>
        <div class="card-body">
            <!-- Tab navigation -->
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="fill-info-tab" data-bs-toggle="tab" data-bs-target="#fill-info" type="button" role="tab" aria-controls="fill-info" aria-selected="true">填写载体信息</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="upload-dna-tab" data-bs-toggle="tab" data-bs-target="#upload-dna" type="button" role="tab" aria-controls="upload-dna" aria-selected="false">或上传DNA文件</button>
                </li>
            </ul>

            <!-- Tab content -->
            <div class="tab-content" id="myTabContent">
                <!-- Fill Vector Info Tab Pane -->
                <div class="tab-pane fade show active" id="fill-info" role="tabpanel" aria-labelledby="fill-info-tab">
                    <h5 class="card-title mt-3">填写载体信息</h5>
                    <div id="example" class="mt-3">
                        <button onclick="postData()" class="btn btn-primary mt-4">Submit & Analyze Sequences</button>
                    </div>
                </div>

                <!-- Upload DNA Sequence File Tab Pane -->
                <div class="tab-pane fade" id="upload-dna" role="tabpanel" aria-labelledby="upload-dna-tab">
                    <h5 class="card-title mt-3">Upload DNA Sequence File (.dna)</h5>
                    <form action="{% url 'user_center:vector_add_file' %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <label for="vector_name" class="form-label mt-3">Vector Name</label>
                        <input type="text" name="vector_name" class="form-control" placeholder="Enter vector name, eg. Vector1">

                        <label for="vector_file" class="form-label mt-3">Select a DNA file</label>
                        <input type="file" name="vector_file" class="form-control">
                        <button type="submit" class="btn btn-primary mt-4">Submit & Analyze Sequences</button>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}
{% block javascript %}
<script>
    const container = document.querySelector('#example');
    const hot = new Handsontable(container, {
        colHeaders: ['Vector Name*', 'Sequence*','Description(Optional)'],
        rowHeaders: true,
        colWidths: [300, 600, 300],  // 设置每列的宽度
        columns: [
            { data: 'VectorName' },
            { data: 'Sequence' },
            { data: 'Description' },
        ],
        height: 'auto',
        width: 'auto',
        licenseKey: 'non-commercial-and-evaluation', // for non-commercial use only
    });

    // PostData函数
    function postData() {
        // 获取Handsontable中的数据
        const data = hot.getData();

        // 检查数据是否为空
        let isEmpty = true;
        for (let row of data) {
            if (row.some(cell => cell !== null && cell !== '')) {
                isEmpty = false;
                break;
            }
        }

        if (isEmpty) {
            alert('Cannot submit an empty table.');
            return;
        }

        // 使用fetch API发送数据到服务器
        fetch('/user_center/vector_add_table/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token }}'
            },
            body: JSON.stringify(data)
        })
        .then(response => response.json())
        .then(data => {
            console.log('Success:', data);
            // 跳转到载体分析页面
            window.location.href = '/user_center/manage_vector/';
        })
        .catch((error) => {
            console.error('Error:', error);
        });
    }
</script>
{% endblock %}
