{% extends "user_center/base.html" %}
{% load custom_filters %}
{% load static %}
{% block title %}Manage Vectors{% endblock %}
{% block extra_head %}
<style>
    /* Copy icon */
    .copy-container {
        display: flex;
        justify-content: space-between; /* 确保文本和图标分布在两端 */
        align-items: center; /* 垂直居中 */
        max-width: 150px;
        width: 100%; /* 占满td的宽度 */
        margin: auto; /* 如果内容不够宽，则居中 */
    }

    /* CSS样式和动画 */
    .copy-success {
        display: none;
        position: fixed;
        padding: 8px;
        background-color: rgba(0, 0, 0, 0.6);
        color: white;
        border-radius: 4px;
        font-size: 14px;
        z-index: 2000;
        transition: opacity 0.6s ease-out;
    }
    .copy-success.fade-out {
        opacity: 0;
    }

    /* 动画效果 */
    @keyframes fadeOut {
        from { opacity: 1; }
        to { opacity: 0; }
    }

    .image-preview {
        display: none;
        position: fixed; /* 使用 fixed 定位 */
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%); /* 用于将图片中心对准屏幕中心 */
        border: 1px solid #ddd;
        background-color: white;
        padding: 5px;
        box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
        z-index: 1000;
    }
    .image-preview img {
        display: block;
        max-width: 500px; /* 根据需要调整大小 */
        height: auto;
    }

</style>
{% endblock %}
{% block nav_manage_vectors %}active{% endblock %}
{% block breadcrumb %}
{% endblock %}

{% block content %}
<div class="container-fluid">
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb" class="mt-2">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'user_center:dashboard' %}" class="text-decoration-none">User Center</a></li>
            <li class="breadcrumb-item active" aria-current="page">Manage Vectors</li>
        </ol>
    </nav>    
    <!-- Custmer Vectors -->
    <div class="card mt-4">
        <div class="card-header">
            <div class="row">
                <div class="col-6">
                    <h4><i class="bi bi-list-ul"></i> My Vectors</h4>
                </div>
                <div class="col-6 text-end">
                    <button type="button" data-bs-toggle="modal" class="btn btn-primary" data-bs-target="#createModal"><i class="bi bi-plus-circle-dotted"></i> Create New Vector</button>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="alert alert-info" role="alert">
            Please note: Once you've uploaded your vector file, it will require approval by RootPath staff. Only when the status is updated to 'ReadyToUse' will your vector be available on the ordering page.
            </div>
            <div id="customer-vector-table"></div>
        </div>
    </div>
    <!-- RootPath Vectors -->
    <div class="card mt-4">
        <div class="card-header">
            <h4><i class="bi bi-list-ul"></i> RootPath Vectors</h4>
        </div>
        <div class="card-body">
            <div class="card-title">
                <h4>In addition to standard vectors, many of our customers send their backbone vectors to RootPath.
                </h4>
            </div>
            <br>
            <h5>Commonly used vectors at RootPath</h5>
            <div id="rootpath-vector-table"></div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="createModal" tabindex="-1" aria-labelledby="exampleModalLabel" data-bs-backdrop="static" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createModalLabel">Upload Your Vector File</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data" action="{% url 'user_center:vector_upload' %}">
                        {% csrf_token %}
                        <label for="vector_name" class="form-label mt-3">Vector Name</label>
                        <input type="text" name="vector_name" class="form-control" required="required"
                            placeholder="Enter vector name, eg. Vector1">

                        <label for="vector_file" class="form-label mt-3">Select a DNA file (.dna/.fasta/.txt/.pdf)</label>
                        <input type="file" name="vector_file" class="form-control" accept=".txt, .pdf, .fa, .fasta, .dna" required="required" onchange="fileChange(this);">
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary" onclick="submitFile(this,event)">Submit</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block javascript %}
<script>
    document.addEventListener("DOMContentLoaded", function() {
        showLoading();
        fetch("{% url 'user_center:customer_vector_data_api' %}")
        .then(response => response.json())
        .then(data => {
            hideLoading();
            new gridjs.Grid({
                columns: [
                    { name: '#', width: '50px' },
                    { name: 'Vector Name', width: '170px' },
                    { name: 'Vector File(Original)', formatter: (cell, row) => {
                        const vectorId = row.cells[7].data;
                        return gridjs.html(`
                            <a href="/user_center/vector_download/${vectorId}/file/" 
                                data-bs-toggle="tooltip" data-bs-placement="top" title="See details" class="text-decoration-none">
                                ${cell}
                            </a>`);
                    }},
                    { name: 'Status', formatter: (cell, row) => {
                        const badgeClass = cell === 'readyToUse' ? 'bg-primary' : 'bg-info';
                        return gridjs.html(`<span class="badge ${badgeClass}">${cell}</span>`);
                    }},
                    { name: 'Vector ID' },
                    { name: 'iU20' },
                    { name: 'iD20' },
                    { 
                        name: 'Download Map & GenBank',
                        formatter: (cell, row) => {
                            const vectorId = row.cells[7].data;
                            return gridjs.html(`
                                <div style="display: flex; justify-content: center;">
                                    <a href="/user_center/vector_download/${vectorId}/map" data-bs-toggle="tooltip" title="Click to download map"><i class="bi bi-filetype-png"></i></a>
                                    <a href="/user_center/vector_download/${vectorId}/gb" data-bs-toggle="tooltip" title="Download genebank"><i class="bi bi-file-earmark-binary"></i></a>
                                </div>
                            `);
                        }
                    },
                    { 
                        name: 'Delete', width: '50px', 
                        formatter: (cell, row) => {
                            const vectorId = row.cells[7].data;
                            return gridjs.html(`
                                <a data-bs-toggle="tooltip" title="Delete" href="javascript:" onclick="del_vector(this, ${vectorId})" class="text-decoration-none">
                                    <i class="bi bi-trash text-danger"></i>
                                </a>
                            `);
                        }
                    }
                ],
                data: data.data.map((vector, index) => [
                    index + 1,
                    vector.vector_name,
                    vector.vector_file ? vector.vector_file.split('/').pop() : '',
                    vector.status,
                    vector.vector_id,
                    vector.iu20,
                    vector.id20,
                    vector.id,  // For download links
                    ''  // Placeholder to maintain correct cell count if necessary
                ]),
                pagination: {
                    enabled: true,
                },
                search: true,
                sort: true,
                resizable: true,
                language: {
                    'search': {
                        'placeholder': '🔍 Search...'
                    },
                    'pagination': {
                        'showing': '😃 Displaying',
                        'results': () => 'Records'
                    }
                }
            }).render(document.getElementById("customer-vector-table"));
        });
        showLoading();
        fetch("{% url 'user_center:rootpath_vector_data_api' %}")
        .then(response => response.json())
        .then(data => {
            hideLoading();
            new gridjs.Grid({
                columns: [
                    { name: '#', width: '80px'},
                    { name: 'Vector Name' },
                    { name: 'Vector ID' },
                    { name: 'iU20' },
                    { name: 'iD20' },
                    { 
                        name: 'Download Map',
                        formatter: (cell, row) => {
                            return gridjs.html(`
                            <div style="display: flex; justify-content: center;">
                                <a href="/user_center/vector_download/${row.cells[5].data}/map" data-bs-toggle="tooltip" title="Click to download map"><i class="bi bi-filetype-png"></i></a>
                                <a href="/user_center/vector_download/${row.cells[5].data}/gb" data-bs-toggle="tooltip" title="Download genebank"><i class="bi bi-file-earmark-binary"></i></a>
                            </div>`);
                        }
                    }
                ],
                data: data.data.map((vector, index) => [
                    index + 1,
                    vector.vector_name,
                    vector.vector_id,
                    vector.iu20,
                    vector.id20,
                    vector.id,
                    ''
                ]),
                pagination: {
                    enabled: true,
                },
                search: true,
                sort: true,
                resizable: true,
                language: {
                    'search': {
                        'placeholder': '🔍 Search...'
                    },
                    'pagination': {
                        'showing': '😃 Displaying',
                        'results': () => 'Records'
                    }
                }
            }).render(document.getElementById("rootpath-vector-table"));
        });
    });



    function fileChange(target) {
        var fileSize = 0;
        var filetypes = [".txt", ".pdf", ".fa", ".fasta", ".dna"];
        var filepath = target.value;
        var filemaxsize = 1024 * 2;//2M
        if (filepath) {
            var isnext = false;
            var fileend = filepath.substring(filepath.lastIndexOf("."));
            if (filetypes && filetypes.length > 0) {
                for (var i = 0; i < filetypes.length; i++) {
                    if (filetypes[i] == fileend) {
                        isnext = true;
                        break;
                    }
                }
            }
            if (!isnext) {
                alert("Please upload the correct format file");
                target.value = "";
                return false;
            }
        } else {
            return false;
        }
        const isIE = navigator.userAgent.match(/MSIE/) != null;
        if (isIE && !target.files) {
            var filePath = target.value;
            var fileSystem = new ActiveXObject("Scripting.FileSystemObject");
            if (!fileSystem.FileExists(filePath)) {
                alert("File does not exist");
                return false;
            }
            var file = fileSystem.GetFile(filePath);
            fileSize = file.Size;
        } else {
            fileSize = target.files[0].size;
        }

        var size = fileSize / 1024;
        if (size > filemaxsize) {
            alert("File cannot be larger than 2M");
            target.value = "";
            return false;
        }
        if (size <= 0) {
            alert("File cannot be empty");
            target.value = "";
            return false;
        }
    }

    // 上传vector文件
    function submitFile(element, event) {
        let form = element.parentElement.parentElement.querySelector("form");
        // console.log(form.checkValidity());
        if(form.checkValidity() === false){
            event.preventDefault();
            event.stopPropagation();
            alert("Please fill in the form");
        }
        else{
            form.submit();
        }
    }

    function copyToClipboard(element, event) {
        let text = element.parentElement.innerText;
        if (navigator.clipboard) {
            navigator.clipboard.writeText(text).then(() => {
                console.log('Text copied to clipboard');
                showCopySuccess(event);
            }).catch(err => {
                console.error('Error in copying text: ', err);
            });
        } else {
            // 备选方法
            let textarea = document.createElement("textarea");
            textarea.textContent = text;
            textarea.style.position = "fixed";  // 避免滚动到底部
            document.body.appendChild(textarea);
            textarea.select();
            try {
                document.execCommand("copy");  // 现代浏览器应已废弃
                console.log('Text copied to clipboard');
                showCopySuccess(event);
            } catch (err) {
                console.error('Error in copying text: ', err);
            }
            document.body.removeChild(textarea);
        }
    }

    function showCopySuccess(event) {
        let copySuccess = document.getElementById("copy-success");
        copySuccess.style.display = "block";
        copySuccess.style.left = (event.clientX + 20) + "px";
        copySuccess.style.top = (event.clientY + 20) + "px";

        setTimeout(() => {
            copySuccess.style.display = "none";
        }, 2000);
    }
</script>
<script>
    function del_vector(the, vector_id) {
        layer.open({
            type: 1,
            skin: 'layui-layer-rim',
            area: ['420px', '240px'],
            title: 'Delete',
            content: '<div style="padding: 20px 80px;">Are you sure to delete this item?</div>',
            btn: ['Yes', 'No'],
            btnAlign: 'c',
            yes: function (index, layero) {
                $.ajax({
                    url: "{% url 'user_center:vector_delete' %}",
                    type: "POST",
                    data: {
                        'csrfmiddlewaretoken': '{{ csrf_token }}',
                        'vector_id': vector_id,
                    },
                    dataType: "json",
                    success: function (data) {
                        if (data.status === 'success') {
                            layer.msg('Delete successfully!', { icon: 1 });
                            setTimeout(function () {
                                window.location.reload();
                            }, 1000);
                        } else {
                            layer.msg(data.message, { icon: 2 });
                        }
                    },
                    error: function (xhr, errmsg, err) {
                        layer.msg('Delete failed!', { icon: 2 });
                    }
                });
            },
        })
    }
</script>
<script>
    function showPreview(event, id) {
        var preview = document.getElementById('imagePreview' + id);
        preview.style.display = 'block';
    }
    function hidePreview(id) {
        var preview = document.getElementById('imagePreview' + id);
        preview.style.display = 'none';
    }
</script>

{% endblock %}