{% extends "user_center/base.html" %}
{% load static %}
{% block title %}Manage Vectors{% endblock %}
{% block extra_head %}
<style>
    /* Copy icon */
    .copy-container {
        display: flex;
        justify-content: space-between; /* 确保文本和图标分布在两端 */
        align-items: center; /* 垂直居中 */
        max-width: 150px;
        width: 100%; /* 占满td的宽度 */
        margin: auto; /* 如果内容不够宽，则居中 */
    }

    .text-truncate {
        flex-grow: 1; /* 让文本占据多余的空间 */
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .copy-icon {
        flex-shrink: 0; /* 防止图标大小被压缩 */
        cursor: pointer;
        margin-left: 8px; /* 在图标和文本之间留一些空间 */
        display: none;
    }
    .copy-container:hover .copy-icon {
        display: inline; /* 或者 display: block; 根据需要 */
    }

    /* CSS样式和动画 */
    .copy-success {
        display: none;
        position: fixed;
        padding: 8px;
        background-color: rgba(0, 0, 0, 0.6);
        color: white;
        border-radius: 4px;
        font-size: 14px;
        z-index: 2000;
        transition: opacity 0.6s ease-out;
    }
    .copy-success.fade-out {
        opacity: 0;
    }

    /* 动画效果 */
    @keyframes fadeOut {
        from { opacity: 1; }
        to { opacity: 0; }
    }
</style>
{% endblock %}
{% block nav_manage_vectors %}active{% endblock %}
{% block breadcrumb %}
{% endblock %}

{% block content %}
<div class="container">
    <!-- Company Vectors -->
    <div class="card mt-4">
        <div class="card-header">
            <h4><i class="bi bi-list-ul"></i> RootPath Vectors</h4>
        </div>
        <div class="card-body">
            <div class="card-title">
                <h4>In addition to standard vectors, many of our customers send their backbone vectors to RootPath.
                </h4>
            </div>
            <br>
            <h5>Commonly used vectors at RootPath</h5>
            <table class="table table-striped table-hover" style="text-align:center">
                <thead>
                    <tr>
                        <th scope="col">Vector Name</th>
                        <th scope="col">Vector ID</th>
                        <th scope="col" data-bs-toggle="tooltip" data-bs-placement="top" title="20 bp upstream of insertion site">iU20</th>
                        <th scope="col" data-bs-toggle="tooltip" data-bs-placement="top" title="20 bp downstream of insertion site">iD20</th>
                        <th scope="col">Download Map</th>
                    </tr>
                </thead>
                <tbody>
                    {% for vector in company_vectors %}
                    <tr>
                        <td>{{ vector.vector_name }}</td>
                        <td>{{ vector.vector_id }}</td>
                        <td>
                            <div class="copy-container">
                                <span class="text-truncate">{{ vector.iu20 }}</span>
                                <i class="bi bi-clipboard2 copy-icon" data-bs-toggle="tooltip" data-bs-placement="top" title="Copy" onclick="copyToClipboard(this, event)"></i>
                            </div>
                        </td>
                        <td>
                            <div class="copy-container">
                                <span class="text-truncate">{{ vector.id20 }}</span>
                                <i class="bi bi-clipboard2 copy-icon" data-bs-toggle="tooltip" data-bs-placement="top" title="Copy" onclick="copyToClipboard(this, event)"></i>
                            </div>
                            <div id="copy-success" class="copy-success">Copied!</div>
                        </td>
                        <td>
                            <div class="hstack gap-3 justify-content-center">
                                <a type="button" class="text-decoration-none" data-bs-toggle="tooltip" data-bs-placement="top" title="Download PDF" href="{% url 'user_center:vector_download' vector.id 'pdf' %}"><i class="bi bi-filetype-pdf"></i></a>
                                <a type="button" class="text-decoration-none" data-bs-toggle="tooltip" data-bs-placement="top" title="Download TXT" href="{% url 'user_center:vector_download' vector.id 'txt' %}"><i class="bi bi-filetype-txt"></i></a>
                                <a type="button" class="text-decoration-none" data-bs-toggle="tooltip" data-bs-placement="top" title="Download DNA" href="{% url 'user_center:vector_download' vector.id 'dna' %}"><i class="bi bi-file-earmark-binary"></i></a>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <!-- My Vectors -->
    <div class="card mt-4">
        <div class="card-header">
            <div class="row">
                <div class="col-6">
                    <h4><i class="bi bi-list-ul"></i> My Vectors</h4>
                </div>
                <div class="col-6 text-end">
                    <button type="button" data-bs-toggle="modal" class="btn btn-primary" data-bs-target="#createModal"><i class="bi bi-plus-circle-dotted"></i> Create New Vector</button>
                </div>
            </div>
        </div>
        <div class="card-body">
            {% comment %} <div class="card-title">
                <h5> Vector list</h5>
            </div> {% endcomment %}
            <table class="table table-striped table-hover" style="text-align:center">
                <thead>
                    <tr>
                        <th scope="col">Vector Name</th>
                        <th scope="col">Vector ID</th>
                        <th scope="col">Status</th>
                        <th scope="col" data-bs-toggle="tooltip" data-bs-placement="top" title="20 bp upstream of insertion site">iU20</th>
                        <th scope="col" data-bs-toggle="tooltip" data-bs-placement="top" title="20 bp downstream of insertion site">iD20</th>
                        <th scope="col">Download Map</th>
                        <th scope="col">Delete</th>
                    </tr>
                </thead>
                <tbody>
                    {% for vector in user_vectors %}
                    <tr>
                        <td class="text-truncate" style="max-width: 150px;">{{ vector.vector_name }}</td>
                        <td>{{ vector.vector_id }}</td>
                        <td>{{ vector.status }}</td>
                        <td class="text-truncate" style="max-width: 150px;">{{ vector.NC5 }}</td>
                        <td class="text-truncate" style="max-width: 150px;">{{ vector.NC3 }}</td>
                        <td>
                            {% if vector.status == 'Submitted' %}
                            <div class="hstack gap-3 justify-content-center">
                                <a type="button" class="text-decoration-none" data-bs-toggle="tooltip" data-bs-placement="top" title="Download File" 
                                href="{% url 'user_center:vector_download' vector.id 'map' %}"><i class="bi bi-download"></i></a>
                            </div>
                            {% else %}
                            <div class="hstack gap-3 justify-content-center">
                                <a type="button" class="text-decoration-none" data-bs-toggle="tooltip" data-bs-placement="top" title="Download PDF" href="{% url 'user_center:vector_download' vector.id 'pdf' %}"><i class="bi bi-filetype-pdf"></i></a>
                                <a type="button" class="text-decoration-none" data-bs-toggle="tooltip" data-bs-placement="top" title="Download TXT" href="{% url 'user_center:vector_download' vector.id 'txt' %}"><i class="bi bi-filetype-txt"></i></a>
                                <a type="button" class="text-decoration-none" data-bs-toggle="tooltip" data-bs-placement="top" title="Download DNA" href="{% url 'user_center:vector_download' vector.id 'dna' %}"><i class="bi bi-file-earmark-binary"></i></a>
                            </div>
                            {% endif %}
                        </td>
                        <td>
                            <a data-bs-toggle="tooltip" data-bs-replacement="top" title="Delete item" href="javascript:"
                                onclick="del_vector(this, {{ vector.id }})">
                                <i class="bi bi-trash text-danger"></i>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="modal fade" id="createModal" tabindex="-1" aria-labelledby="exampleModalLabel" data-bs-backdrop="static" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="createModalLabel">Upload Your Vector File</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="card-body">
                <form method="post" enctype="multipart/form-data" action="{% url 'user_center:vector_upload' %}">
                    {% csrf_token %}
                    <label for="vector_name" class="form-label mt-3">Vector Name</label>
                    <input type="text" name="vector_name" class="form-control" required="required"
                        placeholder="Enter vector name, eg. Vector1">

                    <label for="vector_file" class="form-label mt-3">Select a DNA file (.dna/.fasta/.txt/.pdf)</label>
                    <input type="file" name="vector_file" class="form-control" accept=".txt, .pdf, .fa, .fasta, .dna" required="required" onchange="fileChange(this);">
                </form>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary" onclick="submitFile(this,event)">Submit</button>

        </div>
    </div>
</div>
</div>
{% endblock %}
{% block javascript %}
<script>
    // Tooltip
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
    return new bootstrap.Tooltip(tooltipTriggerEl)
    })
</script>
<script>
    function fileChange(target) {
        var fileSize = 0;
        var filetypes = [".txt", ".pdf", ".fa", ".fasta", ".dna"];
        var filepath = target.value;
        var filemaxsize = 1024 * 2;//2M
        if (filepath) {
            var isnext = false;
            var fileend = filepath.substring(filepath.lastIndexOf("."));
            if (filetypes && filetypes.length > 0) {
                for (var i = 0; i < filetypes.length; i++) {
                    if (filetypes[i] == fileend) {
                        isnext = true;
                        break;
                    }
                }
            }
            if (!isnext) {
                alert("Please upload the correct format file");
                target.value = "";
                return false;
            }
        } else {
            return false;
        }
        const isIE = navigator.userAgent.match(/MSIE/) != null;
        if (isIE && !target.files) {
            var filePath = target.value;
            var fileSystem = new ActiveXObject("Scripting.FileSystemObject");
            if (!fileSystem.FileExists(filePath)) {
                alert("File does not exist");
                return false;
            }
            var file = fileSystem.GetFile(filePath);
            fileSize = file.Size;
        } else {
            fileSize = target.files[0].size;
        }

        var size = fileSize / 1024;
        if (size > filemaxsize) {
            alert("File cannot be larger than 2M");
            target.value = "";
            return false;
        }
        if (size <= 0) {
            alert("File cannot be empty");
            target.value = "";
            return false;
        }
    }

    // 上传vector文件
    function submitFile(element, event) {
        let form = element.parentElement.parentElement.querySelector("form");
        // console.log(form.checkValidity());
        if(form.checkValidity() === false){
            event.preventDefault();
            event.stopPropagation();
            alert("Please fill in the form");
        }
        else{
            form.submit();
        }
    }

    function copyToClipboard(element, event) {
        let text = element.parentElement.innerText;
        if (navigator.clipboard) {
            navigator.clipboard.writeText(text).then(() => {
                console.log('Text copied to clipboard');
                showCopySuccess(event);
            }).catch(err => {
                console.error('Error in copying text: ', err);
            });
        } else {
            // 备选方法
            let textarea = document.createElement("textarea");
            textarea.textContent = text;
            textarea.style.position = "fixed";  // 避免滚动到底部
            document.body.appendChild(textarea);
            textarea.select();
            try {
                document.execCommand("copy");  // 现代浏览器应已废弃
                console.log('Text copied to clipboard');
                showCopySuccess(event);
            } catch (err) {
                console.error('Error in copying text: ', err);
            }
            document.body.removeChild(textarea);
        }
    }

    function showCopySuccess(event) {
        let copySuccess = document.getElementById("copy-success");
        copySuccess.style.display = "block";
        copySuccess.style.left = (event.clientX + 20) + "px";
        copySuccess.style.top = (event.clientY + 20) + "px";

        setTimeout(() => {
            copySuccess.style.display = "none";
        }, 2000);
    }
</script>
<script>
    function del_vector(the, vector_id) {
        layer.open({
            type: 1,
            skin: 'layui-layer-rim',
            area: ['420px', '240px'],
            title: 'Delete',
            content: '<div style="padding: 20px 80px;">Are you sure to delete this item?</div>',
            btn: ['Yes', 'No'],
            btnAlign: 'c',
            yes: function (index, layero) {
                $.ajax({
                    url: "{% url 'user_center:vector_delete' %}",
                    type: "POST",
                    data: {
                        'csrfmiddlewaretoken': '{{ csrf_token }}',
                        'vector_id': vector_id,
                    },
                    dataType: "json",
                    success: function (data) {
                        if (data.status === 'success') {
                            layer.msg('Delete successfully!', { icon: 1 });
                            setTimeout(function () {
                                window.location.reload();
                            }, 1000);
                        } else {
                            layer.msg(data.message, { icon: 2 });
                        }
                    },
                    error: function (xhr, errmsg, err) {
                        layer.msg('Delete failed!', { icon: 2 });
                    }
                });
            },
        })
    }
</script>
{% endblock %}