{% extends "user_center/base.html" %}
{% load static %}
{% block title %}Manage Vectors{% endblock %}
{% block content %}
<div class="container">
    <!-- Company Vectors -->
    <div class="card mt-4">
        <div class="card-header">
            <h4>RootPath Vectors</h4>
        </div>
        <div class="card-body">
            <div class="card-title">
                <h4>In addition to standard vectors, many of our customers send their vector backbone to RootPath.
                </h4>
            </div>
            <br>
            <br>
            <h5>Custom vectors available by RootPath:</h5>
            <table class="table table-striped table-hover table-bordered" style="text-align:center">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Ready_To_Use</th>
                        <th scope="col">Map</th>
                        <th scope="col">5NC</th>
                        <th scope="col">3NC</th>
                    </tr>
                </thead>
                <tbody>
                    {% for vector in company_vectors %}
                    <tr>
                        <td>{{ vector.vector_name }}</td>
                        <td>{{ vector.status }}</td>
                        <td class="text-truncate" style="max-width: 150px;">{{ vector.vector_map }}</td>
                        <td class="text-truncate" style="max-width: 150px;">{{ vector.NC5 }}</td>
                        <td class="text-truncate" style="max-width: 150px;">{{ vector.NC3 }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <!-- My Vectors -->
    <div class="card mt-4">
        <div class="card-header">
            <div class="row">
                <div class="col-6">
                    <h4>My Vectors</h4>
                </div>
                <div class="col-6 text-end">
                    <a type="button" href="{% url 'user_center:vector_add' %}" class="btn btn-primary">Create New Vector</a>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="card-title">
                <h5>Vector list</h5>
            </div>
            <table class="table table-striped table-hover table-bordered" style="text-align:center">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Ready_To_Use</th>
                        <th scope="col">Map</th>
                        <th scope="col">5NC</th>
                        <th scope="col">3NC</th>
                        <th scope="col">Edit</th>
                        <th scope="col">Delete</th>
                    </tr>
                </thead>
                <tbody>
                    {% for vector in user_vectors %}
                    <tr>
                        <td class="text-truncate" style="max-width: 150px;">{{ vector.vector_name }}</td>
                        <td>{{ vector.status }}</td>
                        <td class="text-truncate" style="max-width: 150px;">{{ vector.vector_map }}</td>
                        <td class="text-truncate" style="max-width: 150px;">{{ vector.NC5 }}</td>
                        <td class="text-truncate" style="max-width: 150px;">{{ vector.NC3 }}</td>
                        <td><a type="button" href="{% url 'user_center:vector_detail' vector.id %}" class="btn btn-primary">Edit</a></td>
                        <td><form method="post" action="{% url 'user_center:vector_delete' vector.id %}">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
{% block javascript %}
{% endblock %}