{% extends "user_center/base.html" %}
{% load static %}
{% block title %}Orders{% endblock %}
{% block content %}
<div class="container">
    <div class="row pt-3 mt-3 form-control">
        <div class="col-12">
            <h4 class="mb-3">My Order</h4>
            <table class="table table-striped table-hover table-bordered" style="text-align:center">
                <thead>
                    <tr>
                        <th scope="col">Project Name</th>
                        <th scope="col">Status</th>
                        <th scope="col">Create time</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ order.project_name }}</td>
                        <td>{{ order.status }}</td>
                        <td>{{ order.created_at }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- add a button -->
        <div class="col-12">
            <a href="{% url 'user_center:order_create' %}" class="btn btn-primary">Order Now</a>
        </div>
    </div>
</div>
{% endblock %}
{% block javascript %}
{% endblock %}