{% extends "user_center/base.html" %}
{% load static %}
{% block title %}Order Details{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row pt-3 mt-3 form-control">
        <div class="row">
            <div class="col-md-6">
                <h1>Order Information</h1>
            </div>
            <div class="col-md-6 text-end">
                <a href="#" class="btn btn-outline-primary" data-bs-toggle="tooltip"  data-bs-placement="top" title="Comming soon"><i class="bi bi-clipboard-data me-1"></i> Get Quotation</a>
            </div>
        </div>
        <div class="row">
            <p>Inquiry ID: {{ order.inquiry_id }}</p>
            <p>Order Time: {{ order.order_time }}</p>
        </div>
        <div class="row">
            <div class="col">
                <h2>Gene Information</h2>
            </div>
            <div class="col-md-6 text-end">
                <a href="{% url 'user_center:export_order_to_csv' order.id %}" class="btn btn-outline-primary"><i class="bi bi-cloud-download"></i> Download All XLSX</a>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <table class="table table-striped table-hover" style="text-align:center">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Gene Name</th>
                            <th scope="col">Vector Name</th>
                            <th scope="col">Sequence</th>
                            <th scope="col">Species</th>
                            <th scope="col">GC</th>
                            <th scope="col">Length</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for gene_info in order.gene_infos.all %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>
                                <a data-bs-toggle="tooltip" data-bs-replacement="top" title="See Details" 
                                    href="{% url 'user_center:gene_edit' gene_info.id %}" class="text-decoration-none">
                                    {{ gene_info.gene_name }}
                                </a>
                            </td>
                            <td>{{ gene_info.vector.vector_name }}</td>
                            <td class="text-truncate" style="max-width: 150px;">{{ gene_info.saved_seq }}</td>
                            <td>{{ gene_info.species.species_name }}</td>
                            <td>{{ gene_info.modified_gc_content|floatformat:0 }}%</td>
                            <td>{{ gene_info.saved_seq|length }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <!-- Add a link/button for CSV export -->
    </div>
</div>
{% endblock %}
{% block javascript %}
<script>
    $(function () {
        $('[data-bs-toggle="tooltip"]').tooltip()
    })
</script>
{% endblock %}