{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}
{% block title %}Edit sequences{% endblock %}
{% block extra_head %}
<style>
    .codon {
        border: 1px dashed black;
        display: inline-block;
        margin-right: -1px;
    }
    .fixed-image {
        position: fixed;
        top: 50%;
        right: 50px;
        z-index: 1000;
        transform: translateY(-50%);
        width: 100px;
        height: 80px;
        object-fit: cover;  /* 调整这个值以改变图片的填充方式 */
        border-radius: 20px;
        transition: transform 0.3s ease; /* 平滑过渡效果 */
        animation: spin 10s linear infinite; /* 旋转动画 */
    }
    /* 鼠标悬停时的效果 */
    .fixed-image:hover {
        cursor: pointer;
        transform: translateY(-50%) scale(1.1); /* 轻微放大 */
    }
    li {
        word-wrap: break-word;
        white-space: normal;
    }
</style>
{% endblock %}
{% block content %}

<div class="container-fluid" style="padding-left:50px;">
    <div class="row mt-3">
        <h2>Evaluation Results</h2>
        {% for gene in gene_list %}
            <!-- First Column -->
            <div class="col-7">
                <!-- first row -->
                <div class="row mt-5">
                    <div class="col">
                        <li> Gene Name: {{ gene.gene_name }}</li>
                    </div>
                    <div class="col">
                        <li>Forbidden check list <i class="bi bi-question-circle" data-bs-toggle="tooltip" data-bs-placement="top" title="The underlined sequences are avoided by default to assist subsequent cloning process"></i> : {{ gene.forbidden_check_list }}.</li>
                        <li> And found : {{ gene.contained_forbidden_list }}</li>
                    </div>
                </div>
                <!-- second row -->
                <div class="row mb-5 mt-3">
                    <!-- First Column -->
                    <div class="col">
                        <p>Original sequences:</p>
                        <div class="card">
                            <div {% if gene.status == 'saved' %} class="card-body text-truncate" {% else %} class="card-body monospace-text" {% endif %} id="sequence">
                                {{ gene.combined_seq|safe}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Second Column -->
            <div class="col-5 mt-3">
                <div class="row mt-3">
                    {% if gene.status == 'optimized' %}
                        <h3>Congrats!</h3>
                        <p>Your amino acid sequence are confirmed for synthesis. Please go back to your shopping cart to submit it for synthesis.</p>
                        <div style="width: fit-content;">
                            <a class="btn btn-success" href="{% url 'user_center:view_cart' %}">Go back</a>
                        </div>
                        <p class="mt-3">Review an example of the codon optimized seuqence. Please note that codons may be subjected to reoptimization before being sent into our gene synthesis factory.</p>
                        <p class="">
                            <a class="text-decoration-none text-secondary" data-bs-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1" 
                            data-bs-toggle="tooltip" data-bs-replacement="top" title="Review an example of the codon optimized sequence">Review NT Example</a>
                        </p>
                        <div class="row">
                            <div class="col">
                                <div class="collapse multi-collapse" id="multiCollapseExample1">
                                    <div class="card card-body monospace-text">
                                        {{ gene.saved_seq|safe }}
                                    </div>
                                    <p>*If you insist to synthesize this example sequence, please go back to the User Center and Create New Order to submit it as DNA sequence. 
                                    Please note, this usually is NOT recommended, and may jeopardize your gene synthesis success rate.</p>
                                </div>
                            </div>
                        </div>
                    {% elif gene.status == 'optimizing' %}
                        <h3>Optimizing...</h3>
                        <p>Pleae come back in 10-20 minutes to check the result and finish your ordering.</p>
                        <p>A notification email will be sent to you once the optimization is done.</p>
                        <div style="width: fit-content;">
                            <a class="btn btn-success" href="{% url 'user_center:view_cart' %}">Go back</a>
                        </div>
                    {% elif gene.status == 'failed' %}
                        <h3>Sorry!</h3>
                        <p>Your sequence is not suitable for synthesis. Please contact us for further assistance.</p>
                        <div style="width: fit-content;">
                            <a class="btn btn-success" href="{% url 'user_center:view_cart' %}">Go back</a>
                        </div>
                    {% endif %}
                </div>
            </div>
            <!-- add a line -->
            <div class="row mt-5">
                <hr>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block javascript %}
<script>
    document.addEventListener("DOMContentLoaded", function() {
        // const toggleButton = document.querySelector(".toggle-btn"); // 只有一个按钮，所以用 querySelector
        const toggleButtons = document.querySelectorAll(".toggle-btn"); // 有多个按钮，所以用 querySelectorAll

        toggleButtons.forEach(function(toggleButton) {
            // 获取与当前按钮相关联的 editedSequenceDiv 和 frameshiftSelector
            const editedSequenceDiv = toggleButton.closest('.col-md-2').previousElementSibling.querySelector("#edited_sequence");
            const frameshiftSelector = toggleButton.closest('.col-md-2').querySelector("#frameshiftSelector");

            let isCodonDisplayed = false;
            const originalSeqContent = editedSequenceDiv.innerHTML;

            toggleButton.addEventListener("click", function() {
                if (isCodonDisplayed) {
                    // 当取消显示时，将原始内容放回去
                    editedSequenceDiv.innerHTML = originalSeqContent;
                    isCodonDisplayed = false;
                    return;
                }

                // 从原始内容中提取纯碱基序列
                const pureSeq = originalSeqContent.replace(/<[^>]*>/g, '').trim();

                // 获取 frameshift
                const frameshift = parseInt(frameshiftSelector.value, 10);
                
                // 为 originalSeqContent 中的 <em> 和 <span> 标签添加匹配
                const warningEms = [...originalSeqContent.matchAll(/<em class="text-warning">([ACGT]*)<\/em>/g)];
                let dangerSpans  = [...originalSeqContent.matchAll(/<span class="bg-danger">([ACGT]*)<\/span>/g)];

                // 为每三个碱基添加框，并在适当的地方插入高亮
                let wrappedSeq = '';
                for (let i = 0; i < pureSeq.length;) {
                    const matchingEm = warningEms.find(em => em[1] === pureSeq.substr(i, em[1].length));
                    const matchingSpan = dangerSpans.find(span => span[1] === pureSeq.substr(i, span[1].length));

                    if (matchingEm) {
                        wrappedSeq += '<em class="text-warning">' + matchingEm[1] + '</em>';
                        i += matchingEm[1].length;
                        continue;
                    }

                    if (matchingSpan) {
                        wrappedSeq += '<span class="bg-danger">' + matchingSpan[1] + '</span>';
                        i += matchingSpan[1].length;
                        continue;
                    }

                    if ((i - frameshift) % 3 === 0) {
                        wrappedSeq += '<span class="codon">';
                    }

                    wrappedSeq += pureSeq[i];

                    if ((i - frameshift + 1) % 3 === 0) {
                        wrappedSeq += '</span>';
                    }

                    i++;
                }

                editedSequenceDiv.innerHTML = wrappedSeq;
                isCodonDisplayed = true;
            });
        });
    });
</script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        const analysisButtons = document.querySelectorAll(".analysis-btn"); 

        analysisButtons.forEach(function(analysisButton) {
            analysisButton.addEventListener("click", function() {
                const editedSequenceDiv = analysisButton.closest('.col-md-2').previousElementSibling.querySelector(".card-body");
                const geneName = analysisButton.getAttribute("data-gene-name");

                // 获取editedSequenceDiv的内容和geneName
                const sequenceContent = editedSequenceDiv.innerText;
        
                // 构建要发送的数据
                const data = {
                    sequence: sequenceContent,
                    gene: geneName,
                };
                console.log("data: ", data);
                // 创建一个新的XMLHttpRequest对象
                const xhr = new XMLHttpRequest();

                xhr.open('POST', `/user_center/gene_validation/`, true);

                // 设置请求头，以便服务器知道我们发送的是JSON数据
                xhr.setRequestHeader('Content-Type', 'application/json;charset=UTF-8');
                xhr.setRequestHeader('X-CSRFToken', '{{ csrf_token }}');
                // 设置回调函数，处理响应数据
                xhr.onreadystatechange = function() {
                    if (xhr.readyState == 4 && xhr.status == 200) {
                        const response = JSON.parse(xhr.responseText);
                        console.log(response);
                        // 你可以在这里加入处理响应数据的代码
                        if(response.status === 'success') {
                            // 弹窗提示
                            alert('Re-analyzed!');
                            location.reload();
                        } else if (response.status === 'error') {
                            alert(response.message);
                        }
                    };
                };

                // 发送请求
                xhr.send(JSON.stringify(data));
            });
        });
    });
</script>
<script>
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
    return new bootstrap.Tooltip(tooltipTriggerEl)
    })
</script>
{% endblock %}

