{% extends "user_center/base.html" %}
{% load custom_filters %}
{% load static %}
{% block title %}Shopping Cart{% endblock %}
{% block extra_head %}
{% endblock %}
{% block content %}
<div class="container mt-5">
    <div class="progress-stacked">
        <div class="progress" role="progressbar" aria-label="Segment two" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
            <div class="progress-bar bg-success"></div>
        </div>
        <div class="progress" role="progressbar" aria-label="Segment three" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
            <div class="progress-bar bg-info"></div>
        </div>
    </div>
</div>

{% endblock %}
