{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}
{% block title %}Edit sequences{% endblock %}
{% block extra_head %}

<style>
    body {
        font-family: monospace;
        background: #ffffff;
        color: #000000;
        margin: 20px;
        font-size: 21px;
    }
    pre {
        line-height: 1.4;
    }
</style>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/handsontable/styles/handsontable.full.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/handsontable/styles/ht-theme-main.min.css">
{% endblock %}
{% block content %}
  <div id="hot"></div>
{% endblock %}
{% block javascript %}
  <!-- 引入Handsontable JS from CDN-->
    <script src="https://cdn.jsdelivr.net/npm/handsontable/dist/handsontable.full.min.js"></script>

  <script>
    // 简单初始化
    const container = document.getElementById('hot');
    const hot = new Handsontable(container, {
      data: [
        ['', ''],
        ['', '']
      ],
      rowHeaders: true,
      colHeaders: true,
      // 注意：旧版本8.x及之前多用 copyPaste: true
      // 新版本9.x及之后可能要用 clipboard: true，或额外引入 Clipboard 插件
      copyPaste: true,
      // 试试看 contextMenu: true，也经常用来测试剪贴板功能
      contextMenu: true,
      licenseKey: 'non-commercial-and-evaluation'
    });

    // 测一下 afterValidate
    hot.addHook('afterValidate', function(isValid, value, row, prop, source){
      console.log('[afterValidate]', isValid, value, row, prop, source);
    });
  </script>
{% endblock %}
