{% extends "super_manage/base.html" %}
{% load static %}
{% block title %}Order Manage{% endblock %}
{% block extra_head %}
{% endblock %}
{% block manage_content %}

<div class="container-fluid pt-4">
    <div class="row pt-3 mt-3 form-control d-flex justify-content-between align-items-center">
        <div id="order-table"></div>
    </div>
</div>
{% endblock %}
{% block javascript %}
<script>
    document.addEventListener("DOMContentLoaded", function() {
        showLoading();
        fetch("{% url 'super_manage:order_data_api' %}")
            .then(response => response.json())
            .then(data => {
                hideLoading();
                new gridjs.Grid({
                    columns: [
                        { name: '#' },
                        { name: 'InQuiry ID' },
                        { 
                            name: 'Customer', 
                            formatter: (cell, row) => {
                                const userId = cell.userId;
                                const photo = cell.photo;
                                const userName = cell.userName;
                                if (userId) {
                                    return gridjs.html(`<i class="avatar avatar-sm avatar-circle"><img src="${photo}" alt="" width="32" height="32" class="rounded-circle me-2"></i><a href="/super_manage/view_user_profile/${userId}/" data-bs-toggle="tooltip" data-bs-placement="top" title="See details" class="text-decoration-none">${userName}</a>`);
                                } else {
                                    return gridjs.html(`<i class="avatar avatar-sm avatar-circle"><img src="${photo}" alt="" width="32" height="32" class="rounded-circle me-2"></i>${userName}`);
                                }
                            }
                        },
                        { name: 'Quantity' },
                        { 
                            name: 'Create Time',
                            formatter: (cell) => {
                                return new Date(cell).toLocaleString();
                            }
                        },
                        { 
                            name: 'Download REQINs',
                            formatter: (cell, row) => {
                                const orderId = cell;
                                return gridjs.html(`<a href="/super_manage/order_to_reqins/${orderId}/" class="btn btn-outline-primary"><i class="bi bi-cloud-download"></i> Download REQINs</a>`);
                            }
                        },
                        { name: 'Status' }
                    ],
                    data: data.data.map((order, inedex) => [
                        inedex + 1,
                        order.inquiry_id,
                        {
                            userId: order.user__id,
                            photo: order.user__userprofile__photo,
                            userName: order.user__username
                        },
                        order.gene_infos_count,
                        order.order_time,
                        order.id,
                        order.status
                    ]),
                    search: true,
                    pagination: {
                        enabled: true,
                        limit: 10
                    },
                    sort: true,
                    resizable: true,
                    language: {
                        'search': {
                            'placeholder': '🔍 Search...'
                        },
                        'pagination': {
                            'showing': '😃 Displaying',
                            'results': () => 'Records'
                        }
                    }
                }).render(document.getElementById('order-table'));
            })
            .catch(error => {
                hideLoading();
                console.error('Error:', error);
            });
    });
</script>
{% endblock %}