{% extends "super_manage/base.html" %}
{% load static %}
{% block title %}User Manage{% endblock %}
{% block extra_head %}
{% endblock %}
{% block manage_content %}
<div class="container-fluid pt-4">
    <div class="row pt-3 mt-3 form-control d-flex justify-content-between align-items-center">
        <div id="user-table"></div>
    </div>
</div>

<script>
document.addEventListener("DOMContentLoaded", function() {
    fetch("{% url 'super_manage:user_data_api' %}")
        .then(response => response.json())
        .then(data => {
            const grid = new gridjs.Grid({
                columns: [
                    { name: '#' },
                    { 
                        name: 'User', 
                        formatter: (cell) => {
                            const userId = cell.userId;
                            const photo = cell.photo;
                            const userName = cell.userName;
                            if (userId) {
                                return gridjs.html(`
                                    <i class="avatar avatar-sm avatar-circle">
                                        <img src="${photo}" alt="" width="32" height="32" class="rounded-circle me-2">
                                    </i>
                                    <a href="/super_manage/view_user_profile/${userId}/" 
                                        data-bs-toggle="tooltip" data-bs-placement="top" 
                                        title="See details" class="text-decoration-none" 
                                        data-username="${userName}">
                                        ${userName}
                                    </a>
                                `);
                            } else {
                                return gridjs.html(`
                                    <i class="avatar avatar-sm avatar-circle">
                                        <img src="${photo}" alt="" width="32" height="32" class="rounded-circle me-2">
                                    </i>
                                    <span data-username="${userName}">
                                        ${userName}
                                    </span>
                                `);
                            }
                        }
                    },
                    { name: 'Email' },
                    { name: 'Company' },
                    { name: 'Phone' },
                    { name: 'Register Time' },
                    { name: 'Is Verify', formatter: (cell) => cell ? 'Yes' : 'No'},
                ],
                data: data.data.map((user, index) => [
                    index + 1,
                    {
                        userId: user.user__id,
                        photo: user.photo,
                        userName: user.user__username
                    },
                    user.email,
                    user.company,
                    user.phone,
                    user.register_time,
                    user.is_verify,
                ]),
                search: {
                    selector: (cell, rowIndex, cellIndex) => {
                        if (cellIndex === 1) {
                            return cell.userName;
                        }
                        return cell;
                    }
                },
                pagination: true,
                sort: true,
                resizable: true,
                language: {
                    'search': {
                        'placeholder': '🔍 Search...'
                    },
                    'pagination': {
                        'showing': '😃 Displaying',
                        'results': () => 'Records'
                    }
                },
            });

            grid.render(document.getElementById('user-table'));
        })
        .catch(error => console.error('Error:', error));
});



</script>
{% endblock %}
