{% extends "super_manage/base.html" %}
{% load custom_filters %}
{% load static %}
{% block title %}Vector Manage{% endblock %}
{% block extra_head %}
{% endblock %}
{% block manage_content %}
<div class="container-fluid pt-1">
    <div class="row pt-3 mt-3 form-control d-flex justify-content-between align-items-center">
        <!-- 标签页导航 -->
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" data-bs-toggle="tab" href="#rootpath-tab">RootPath</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#customers-tab">Customers</a>
            </li>
            <!-- 新增按钮 -->
            <div class="ms-auto">
                <!-- 按钮 -->
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#uploadCsvModal">
                    <i class="bi bi-plus-circle-dotted me-2"></i>Add Vector
                </button>

                <!-- 模态框 -->
                <div class="modal fade" id="uploadCsvModal" tabindex="-1" aria-labelledby="uploadCsvModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="uploadCsvModalLabel">Upload CSV File</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <!-- 表单 -->
                                <form id="csvUploadForm">
                                    <div class="mb-3">
                                        <h5>CSV Format:</h5>
                                        <p class="text-muted">The first line of the CSV file must be the header</p>
                                        <p class="text-muted">and the header must contain 
                                        "Vector_ID, Vector_Name, iU20, iD20, v5NC, v3NC,
                                        Vector_Seq(From_v3NC_Downstream_to_v5NC_Upstream_withoutV3NCv5NC_Seq)"</p>
                                        <label for="csvFile" class="form-label">Select CSV file</label>
                                        <input type="file" class="form-control" id="csvFile" accept=".csv">
                                    </div>
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ul>
        <!-- 标签页内容 -->
        <div class="tab-content">
            <!-- RootPath 标签页内容 -->
            <div id="rootpath-tab" class="tab-pane active"><br>
                <div class="table-responsive">
                    <table class="table table-striped table-hover text-center">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">vector_id</th>
                                <th scope="col">vector_name</th>
                                <th scope="col">Vector_Seq</th>
                                <th scope="col">NC5</th>
                                <th scope="col">NC3</th>
                                <th scope="col">iu20</th>
                                <th scope="col">id20</th>
                                <th scope="col" data-bs-toggle="tooltip" data-bs-replacement="top" title="Vector map png format">Vector_png</th>
                                <th scope="col" data-bs-toggle="tooltip" data-bs-replacement="top" title="Vector map genebank format">Vector_GB</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody class="table-group-divider">
                            {% for vector in company_vector_list %}
                                <tr>
                                    <th scope="row">{{ forloop.counter }}</th>
                                    <td>{{ vector.vector_id }}</td>
                                    <td>{{ vector.vector_name }}</td>
                                    <td><span class="d-inline-block text-truncate" style="max-width: 100px;">{{ vector.vector_map }}</span></td>
                                    <td><span class="d-inline-block text-truncate" style="max-width: 100px;">{{ vector.NC5 }}</span></td>
                                    <td><span class="d-inline-block text-truncate" style="max-width: 100px;">{{ vector.NC3 }}</span></td>
                                    <td><span class="d-inline-block text-truncate" style="max-width: 100px;">{{ vector.iu20 }}</span></td>
                                    <td><span class="d-inline-block text-truncate" style="max-width: 100px;">{{ vector.id20 }}</span></td>
                                    <td>
                                        {% if vector.vector_png %}
                                            <a data-bs-toggle="tooltip" data-bs-replacement="top" title="download map" href="{% url 'super_manage:vector_download' vector_id=vector.id file_type='map' %}" target="_blank" class="text-decoration-none">
                                                {{ vector.vector_png.path|basename }}
                                            </a>
                                        {% endif %}
                                        <a data-bs-toggle="tooltip" data-bs-replacement="top" title="Upload file" href="javascript:void(0);" onclick="uploadFile(this)"><i class="bi bi-plus-circle-dotted"></i></a>
                                        <input type="file" style="display: none;" onchange="submitFile(this, '{{ vector.id }}', 'vector_png')">
                                    </td>
                                    <td>
                                        {% if vector.vector_gb %}
                                            <a data-bs-toggle="tooltip" data-bs-replacement="top" title="download genebank" href="{% url 'super_manage:vector_download' vector_id=vector.id file_type='gb' }}" target="_blank" class="text-decoration-none">
                                                {{ vector.vector_gb.path|basename }}
                                            </a>
                                        {% endif %}
                                        <a data-bs-toggle="tooltip" data-bs-replacement="top" title="Upload file" href="javascript:void(0);" onclick="uploadFile(this)"><i class="bi bi-plus-circle-dotted"></i></a>
                                        <input type="file" style="display: none;" onchange="submitFile(this, '{{ vector.id }}', 'vector_gb')">
                                    </td>
                                    <td><a data-bs-toggle="tooltip" data-bs-replacement="top" title="Delete item" href="javascript:"
                                        onclick="del_gene(this, {{ vector.id }})" class="text-decoration-none">
                                        <i class="bi bi-trash text-danger me-2"></i>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <!-- 分页 -->
                <div  class="d-flex justify-content-center">
                    <ul class='pagination'>
                        {{ company_page_string}}
                    </ul>
                </div>
            </div>
            <!-- Customers 标签页内容 -->
            <div id="customers-tab" class="tab-pane fade"><br>
                <div class="table-responsive">
                    <table class="table table-striped table-hover text-center">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">User</th>
                                <th scope="col" data-bs-toggle="tooltip" data-bs-replacement="top" title="Vector ID">Vector_ID</th>
                                <th scope="col" data-bs-toggle="tooltip" data-bs-replacement="top" title="Vector Name">Vector_Name</th>
                                <th scope="col" data-bs-toggle="tooltip" data-bs-replacement="top" title="Vector seq">Vector_Seq</th>
                                <th scope="col" data-bs-toggle="tooltip" data-bs-replacement="top" title="Vector NC5">NC5</th>
                                <th scope="col" data-bs-toggle="tooltip" data-bs-replacement="top" title="Vector NC3">NC3</th>
                                <th scope="col" data-bs-toggle="tooltip" data-bs-replacement="top" title="Vector upstream 20bp">iU20</th>
                                <th scope="col" data-bs-toggle="tooltip" data-bs-replacement="top" title="Vector downstream 20bp">iD20</th>
                                <th scope="col" data-bs-toggle="tooltip" data-bs-replacement="top" title="customer's raw file">Vector_file</th>
                                <th scope="col" data-bs-toggle="tooltip" data-bs-replacement="top" title="Vector map png format">Vector_png</th>
                                <th scope="col" data-bs-toggle="tooltip" data-bs-replacement="top" title="Vector map genebank format">Vector_GB</th>
                                <th scope="col">Status</th>
                            </tr>
                        </thead>
                        <tbody class="table-group-divider">
                            {% for vector in custom_vector_list %}
                                <tr>
                                    <th scope="row">{{ forloop.counter }}</th>
                                    <td>{{ vector.user }}</td>
                                    <td>{{ vector.vector_id }}</td>
                                    <td><span class="d-inline-block text-truncate" style="max-width: 100px;">{{ vector.vector_name }}</span></td>
                                    <td><span class="d-inline-block text-truncate" style="max-width: 100px;">{{ vector.vector_map }}</span></td>
                                    <td><span class="d-inline-block text-truncate" style="max-width: 100px;">{{ vector.NC5 }}</span></td>
                                    <td><span class="d-inline-block text-truncate" style="max-width: 100px;">{{ vector.NC3 }}</span></td>
                                    <td><span class="d-inline-block text-truncate" style="max-width: 100px;">{{ vector.iu20 }}</span></td>
                                    <td><span class="d-inline-block text-truncate" style="max-width: 100px;">{{ vector.id20 }}</span></td>
                                    <td>
                                        {% if vector.vector_file %}
                                            <a data-bs-toggle="tooltip" data-bs-replacement="top" title="Download file" href="{% url 'super_manage:vector_download' vector_id=vector.id file_type='file' %}" target="_blank" class="text-decoration-none">
                                                {{ vector.vector_file.path|basename }}
                                            </a>
                                        {% endif %}
                                        <a data-bs-toggle="tooltip" data-bs-replacement="top" title="Upload file"  href="javascript:void(0);" onclick="uploadFile(this)"><i class="bi bi-plus-circle-dotted"></i></a>
                                        <input type="file" style="display: none;" onchange="submitFile(this, '{{ vector.id }}', 'vector_file')">
                                    </td>
                                    <td>
                                        {% if vector.vector_png %}
                                            <a data-bs-toggle="tooltip" data-bs-replacement="top" title="Download map" href="{% url 'super_manage:vector_download' vector_id=vector.id file_type='map' %}" target="_blank" class="text-decoration-none">
                                                {{ vector.vector_png.path|basename }}
                                            </a>
                                        {% endif %}
                                        <a  data-bs-toggle="tooltip" data-bs-replacement="top" title="Upload file" href="javascript:void(0);" onclick="uploadFile(this)"><i class="bi bi-plus-circle-dotted"></i></a>
                                        <input type="file" style="display: none;" onchange="submitFile(this, '{{ vector.id }}', 'vector_png')">
                                    </td>
                                    <td>
                                        {% if vector.vector_gb %}
                                            <a data-bs-toggle="tooltip" data-bs-replacement="top" title="Download gb" href="{% url 'super_manage:vector_download' vector_id=vector.id file_type='gb' %}" target="_blank" class="text-decoration-none">
                                                {{ vector.vector_gb.path|basename }}
                                            </a>
                                        {% endif %}
                                        <a data-bs-toggle="tooltip" data-bs-replacement="top" title="Upload file" href="javascript:void(0);" 
                                            onclick="uploadFile(this)"><i class="bi bi-plus-circle-dotted"></i></a>
                                        <input type="file" style="display: none;" onchange="submitFile(this, '{{ vector.id }}', 'vector_gb')">
                                    </td>
                                    <td>
                                        <span class="d-inline-block text-truncate" style="max-width: 100px;">{{ vector.status }}</span>
                                        <a data-bs-toggle="modal" data-bs-target="#editVectorModal" data-vector-id="{{ vector.id }}" href="javascript:void(0);" class="text-decoration-none"
                                            data-bs-toggle="tooltip" data-bs-replacement="top" title="Edit">
                                            <i class="bi bi-pencil-square text-primary me-2"></i>
                                        </a>
                                    </td>
                                    <td>
                                        <a data-bs-toggle="tooltip" data-bs-replacement="top" title="Delete" href="javascript:"
                                            onclick="del_gene(this, {{ vector.id }})" class="text-decoration-none">
                                            <i class="bi bi-trash text-danger me-2"></i>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <!-- 分页 -->
                <div  class="d-flex justify-content-center">
                    <ul class='pagination'>
                        {{ custom_page_string }}
                    </ul>
                </div>
            </div>
        </div>
        <!-- 模态框 -->
        <div class="modal fade" id="editVectorModal" tabindex="-1" aria-labelledby="editVectorModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="statusModalLabel">Change Vector Status</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <!-- 表单 -->
                        <form id="statusForm">
                            <div class="mb-3">
                                <label for="statusSelect" class="form-label">New Status</label>
                                <select class="form-select" id="statusSelect">
                                    <option value="Received">Received</option>
                                    <option value="ReadyToUse">ReadyToUse</option>
                                </select>
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block javascript %}
<script>
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
        return new bootstrap.Tooltip(tooltipTriggerEl)
    })
</script>
<script>
    // 删除Vector
    function del_gene(the, gene_id) {
        layer.open({
            type: 1,
            skin: 'layui-layer-rim',
            area: ['420px', '240px'],
            title: 'Delete',
            content: '<div style="padding: 20px 80px;">Are you sure to delete this item?</div>',
            btn: ['Yes', 'No'],
            btnAlign: 'c',
            yes: function (index, layero) {
                $.ajax({
                    url: "{% url 'super_manage:vector_delete' %}",
                    type: "POST",
                    data: {
                        'csrfmiddlewaretoken': '{{ csrf_token }}',
                        'gene_id': gene_id,
                    },
                    dataType: "json",
                    success: function (data) {
                        if (data.status === 'success') {
                            layer.msg('Delete successfully!', { icon: 1 });
                            setTimeout(function () {
                                window.location.reload();
                            }, 1000);
                        } else {
                            layer.msg(data.message, { icon: 2 });
                        }
                    },
                    error: function (xhr, errmsg, err) {
                        layer.msg('Delete failed!', { icon: 2 });
                    }
                });
            },
        })
    }
    $('#editVectorModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget); // Button that triggered the modal
        var vectorId = button.data('vector-id'); // Extract info from data-* attributes
        $(this).attr('data-vector-id', vectorId);
    });

    // 修改Vector状态
    document.getElementById('statusForm').addEventListener('submit', function(e) {
        e.preventDefault();

        var modal = document.getElementById('editVectorModal');
        var vectorId = modal.getAttribute('data-vector-id');
        var status = document.getElementById('statusSelect').value;

        // 确保 vectorId 实际上已经被设置
        if (!vectorId) {
            alert('Vector ID is missing');
            return;
        }

        $.ajax({
            url: '/super_manage/vector_edit_item/',
            type: 'POST',
            data: {
                'csrfmiddlewaretoken': '{{ csrf_token }}',
                'vector_id': vectorId,
                'new_status': status
            },
            success: function(response) {
                // 处理成功的响应
                $('#editVectorModal').modal('hide');
                alert('修改成功');
                setTimeout(function () {
                    window.location.reload();
                }, 1000);
            },
            error: function() {
                // 处理错误的响应
                alert('修改失败');
            }
        });
    });


    // 上传文件
    function uploadFile(icon) {
        // 触发文件输入元素的点击事件
        icon.nextElementSibling.click();
    }
    // 提交文件
    function submitFile(fileInput, vectorId, fileType) {
        // 检查是否有文件被选中
        if (fileInput.files.length === 0) {
            alert('请选择文件')
            return;
        }

        var csrftoken = getCookie('csrftoken');

        // 创建FormData对象，初始化为form表单中的数据。需要添加其他数据可使用formData.append("property", "value");
        var formData = new FormData();
        formData.append('file', fileInput.files[0]);
        formData.append('vectorId', vectorId);
        formData.append('fileType', fileType); // 'png' 或 'gb'
        formData.append('csrfmiddlewaretoken', csrftoken);

        // 发送ajax请求
        var xhr = new XMLHttpRequest();
        xhr.open('POST', '/super_manage/vector_upload_file/'); // 替换为您的API端点URL
        xhr.onload = function() {
            if (xhr.status === 200) {
                alert('文件上传成功');
                // 可以在这里添加代码来更新页面上的图标或链接
            } else {
                alert('文件上传失败');
            }
        };
        xhr.send(formData);
    }

    // submit csv file
    document.getElementById('csvUploadForm').addEventListener('submit', function(e) {
        e.preventDefault();

        var fileInput = document.getElementById('csvFile');
        var file = fileInput.files[0];
        var csrftoken = getCookie('csrftoken');

        // 创建 FormData 对象
        var formData = new FormData();
        formData.append('csvFile', file);
        formData.append('csrfmiddlewaretoken', csrftoken);

        // 发送文件到服务器
        fetch('/super_manage/vector_add_item/', {
            method: 'POST',
            body: formData
        }).then(response => {
            // 处理响应
            console.log(response);
        }).catch(error => {
            // 处理错误
            console.error(error);
        });

        // 关闭模态框
        var modal = bootstrap.Modal.getInstance(document.getElementById('uploadCsvModal'));
        modal.hide();
    });

    // get cookie
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';'); // 按照分号切分
            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i].trim(); // 去除首尾空格
                // 判断是否是需要的cookie
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1)); // 获取cookie值
                    break;
                }
            }
        }
        return cookieValue;
    }

</script>
{% endblock %}