{% extends "super_manage/base.html" %}
{% load static %}
{% block title %}Vector Manage{% endblock %}
{% block extra_head %}
    <style>
        .icon-btn {
            width: 1.5rem;
            display: inline-block;
        }

        .danger-button {
            color: crimson
        }

        .row-button {
            padding: 0 4px 0 4px;
        }

        .tab-table .nav-item {
            width: 130px;
            text-align: center;
        }

        .tab-table .nav-link {
            color: black;
        }

        .input-td {
            position: relative;
            min-width: 120px;
        }

        .input-td input {
            border: 0px;
            outline: none;
            position: absolute;
            left: 0;
            top: 0px;
            height: 100%;
            width: 100%;
        }

        .input-td input::placeholder { /* Mozilla Firefox 19+ */
            color: #c5c5c5;
        }
    </style>
{% endblock %}
{% block manage_content %}
    <template id="tmp-table-row">
        {#  行模板，每个td代表从左往右的每一列，td内的是默认文本，正常都会被替换掉  #}
        <tr>
            <th scope="row">1</th>
            <td>PSG</td>
            <td>Vector Name</td>
            <td class="input-td">
                <input onchange="changeInput(this)" type="text" class="align-middle" placeholder="Please input..."/>
            </td>
            <td class="input-td">
                <input onchange="changeInput(this)" type="text" class="align-middle" placeholder="Please input..."/>
            </td>
            <td class="input-td">
                <input onchange="changeInput(this)" type="text" class="align-middle" placeholder="Please input..."/>
            </td>
            <td class="input-td">
                <input onchange="changeInput(this)" type="text" class="align-middle" placeholder="Please input..."/>
            </td>
            <td>
                <button disabled type="button" class="btn btn-link row-button danger-button opr-bnt"
                        onclick="clickCancel(this)">cancel
                </button>
                <button disabled onclick="submitRowInput(this)" type="button" class="btn btn-link row-button opr-bnt">
                    submit
                </button>
            </td>
            <td>
                <button type="button" class="btn btn-link row-button bi-box-arrow-left text-danger icon-btn"
                        onclick="clickRevokeOrNext(this, 'revoke')">
                </button>
                <span style="display: inline-block;color: darkseagreen;min-width: 96px;">Created</span>
                <button type="button" class="btn btn-link row-button bi-box-arrow-right icon-btn" onclick="clickRevokeOrNext(this,'next')">
                </button>
            </td>
            <td>
                <div class="file-down">
                    <button type="button" class="btn row-button bi-trash text-danger icon-btn"
                            onclick="clickDelMap(this)">
                    </button>
                    <a href="" class="bi bi-download icon-btn"></a>
                </div>
                <button type="button" class="btn btn-link row-button upload bi-upload icon-btn"
                        onclick="this.querySelector('input').click();">
                    <input type="file" style="display: none;" onchange="fileChange(this)">
                </button>
                <div class="pre-upload">
                    <p style="margin: 0px;font-size: 13px;"></p>
                    <button type="button" class="btn row-button bi-trash text-danger icon-btn"
                            onclick="clickDelPreUpload(this)">
                    </button>
                    <button type="button" class="btn btn-link row-button upload " onclick="clickUpSubmit(this)">
                        submit
                    </button>
                </div>
            </td>
            <td hidden>
                <a href="" onclick="alert('已添加入下载队列');return false;" class="row-button">pdf</a>
                <button disabled type="button" class="btn btn-link row-button">pdf</button>
                <a href="" onclick="alert('已添加入下载队列');return false;" class="row-button">xlsx</a>
                <button disabled type="button" class="btn btn-link row-button">xlsx</button>
                <a href="" onclick="alert('已添加入下载队列');return false;" class="row-button">txt</a>
                <button disabled type="button" class="btn btn-link row-button">txt</button>
            </td>

        </tr>
    </template>

    <template id="page-number">
        <li class="page-item"><a class="page-link" href="#" onclick="clickPage(this)">1</a></li>
    </template>

    <div class="tab-table" style="margin-top: 50px;">

        <ul style="margin-bottom: 15px;" class="nav nav-tabs">
            <ul style="margin-bottom: 15px;" class="nav nav-tabs" id="select-tab">
                <li class="nav-item">
                    <a class="nav-link active" href="#" onclick="clickTab(this,0)">All</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" onclick="clickTab(this,1)">ReadyToUse</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" onclick="clickTab(this,2)">forbidden</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" onclick="clickTab(this,3)">Submitted</a>
                </li>
            </ul>
        </ul>

        <table class="table table-hover table-bordered align-middle text-center">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Custom</th>
                <th scope="col">Vector Name</th>
                <th scope="col">Map seq</th>
                <th scope="col">Vector ID</th>
                <th scope="col">iD20</th>
                <th scope="col">iU20</th>
                <th scope="col">Operated</th>
                <th scope="col" style="min-width:11rem;">status</th>
                <th scope="col" style="min-width:5rem;">Map</th>
                <th scope="col" hidden>File</th>
            </tr>
            </thead>
            <tbody class="table-group-divider">
            </tbody>
        </table>

        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>

    </div>

{% endblock %}

{% block javascript %}
    <script src="https://cdn.bootcss.com/jquery-cookie/1.4.1/jquery.cookie.js"></script>

    <script>

        const TmpRow = document.querySelector("#tmp-table-row"),
            TmpTd = TmpRow.content.querySelectorAll("td"),
            tableBody = document.querySelector("tbody");
        let RowMax = {{ max_row }};
        let SelectedTab = 0;
        let PageMax = {{ max_page }};
        let Rows = JSON.parse("{{ rows }}".replace(/\&quot;/g, '\"'));

        // 清除表
        function clearTable() {
            tableBody.innerHTML = "";
        }

        function setRowMap(e, status, filename = null, filepath = null) {
            const fileDown = e.querySelector('.file-down'),
                upload = e.querySelector('.upload'),
                preUpload = e.querySelector('.pre-upload');
            if (status == "file-down") {
                fileDown.hidden = false;
                upload.hidden = true;
                preUpload.hidden = true;
                fileDown.querySelector('a').href = filepath;
            } else if (status == "upload") {
                fileDown.hidden = true;
                upload.hidden = false;
                preUpload.hidden = true;
            } else if (status == "pre-upload") {
                fileDown.hidden = true;
                upload.hidden = true;
                preUpload.hidden = false;
                preUpload.querySelector('p').textContent = filename;
            } else
                console.log("Unknown report element status", status, filename, filepath);
        }

        function changeInput(e) {
            e.parentElement.parentElement.querySelectorAll('.opr-bnt').forEach(btnElem => {
                btnElem.disabled = false;
            })
        }

        function setRowStatus(e, value) {
            e.querySelector("span").textContent = value;

            {# 设置Status的显示 #}
            let bns = e.getElementsByTagName("button");
            if (value.toLowerCase() == "submitted") {
                bns[0].disabled = true;
                bns[1].disabled = false;
                bns[0].classList.remove('text-danger');
            }
            else if (value.toLowerCase() == "readytouse"){
                bns[0].disabled = false;
                bns[1].disabled = true;
                bns[0].classList.add('text-danger');
            }
            else if ( value.toLowerCase() == 'forbidden') {
                bns[0].disabled = true;
                bns[1].disabled = true;
                bns[0].classList.remove('text-danger');
                e.querySelector("span").classList.add('text-danger');
            }
        }

        // 往表中添加一行
        function getTableRow(rowNum, rowJson) {
            let clone = document.importNode(TmpRow.content, true);
            let td = clone.querySelectorAll("td");
            clone.querySelectorAll("th")[0].textContent = rowNum;
            td[0].textContent = rowJson['Custom'];
            td[1].textContent = rowJson['vector_name'];
            td[2].querySelector('input').value = rowJson['Map seq'];
            td[3].querySelector('input').value = rowJson['Vector ID'];
            td[4].querySelector('input').value = rowJson['iD20'];
            td[5].querySelector('input').value = rowJson['iU20'];
            setRowStatus(td[7],rowJson['status']);
            if (rowJson['Map'].length)
                setRowMap(td[8], "file-down", null, rowJson['Map'])
            else setRowMap(td[8], "upload");

            // 设置File的显示，目前是隐藏状态，不起作用
            let f = td[9].getElementsByTagName("a"), un = td[9].getElementsByTagName("button");
            if ('pdf' in rowJson['File'])
                f[0].href = rowJson['File']['pdf'];
            if ('xlsx' in rowJson['File'])
                f[1].href = rowJson['File']['xlsx'];
            if ('txt' in rowJson['File'])
                f[2].href = rowJson['File']['txt'];


            if ('pdf' in rowJson['File'] && rowJson['File']['pdf'].length) {
                un[0].hidden = true;
                f[0].hidden = false;
            } else {
                un[0].hidden = false;
                f[0].hidden = true;
            }

            if ('xlsx' in rowJson['File'] && rowJson['File']['xlsx'].length) {
                un[1].hidden = true;
                f[1].hidden = false;
            } else {
                un[1].hidden = false;
                f[1].hidden = true;
            }

            if ('txt' in rowJson['File'] && rowJson['File']['txt'].length) {
                un[2].hidden = true;
                f[2].hidden = false;
            } else {
                un[2].hidden = false;
                f[2].hidden = true;
            }

            return clone
        }

        // 获取行
        function getRows(start) {
            // 根据selectedTab获取rows
            // 通过请求获取rows
            {#$.ajax({#}
            {#    url: "{% url 'super_manage:order_manage' %}",#}
            {#    type: "GET",#}
            {#    data: {#}
            {#        "start": start,#}
            {#        "tab": selectedTab#}
            {#    },#}
            {#    async: false,#}
            {#    success: function (data) {#}
            {#        tmp = data;#}
            {#        // 添加到rows中#}
            {#        rows = rows.concat(tmp);#}
            {#    }#}
            // });
        }

        // 行中元素获取整行数据
        function get_row_content(e) {
            let row = e.closest('tr');
            let rowNum = parseInt(row.querySelector('th').textContent);
            return Rows[rowNum - 1];
        }

        // 设置表，page：第几页，pageLen：每页长度
        function setTable(page, pageLen) {
            // 根据page和pageLen设置表格
            // 先计算出需要显示的行数
            // page从1开始
            clearTable();
            let start = (page - 1) * pageLen, end = page * pageLen;
            if (end > Rows.length)
                end = Rows.length;
            if (start > Rows.length)
                getRows(start);
            for (let i = start; i < end; i++) {
                const c = getTableRow(i + 1, Rows[i]);
                tableBody.appendChild(c);
            }
        }

        // 点击底部页项
        function clickPage(e) {
            let page = parseInt(e.textContent);
            setTable(page, RowMax);
        }

        // 设置底部页项显示，start：开始项，len：长度
        function setPageItems(start, len) {
            const pn = document.querySelector("#page-number").content.querySelector('li');
            const items = document.querySelectorAll('.page-item'), last = items[items.length - 1];
            const fragment = document.createDocumentFragment()
            for (let i = start; i <= start + len - 1 && i <= PageMax; i++) {
                let c = document.importNode(pn, true);
                c.querySelector('a').textContent = i.toString();
                fragment.appendChild(c);
            }
            for (let i = 1; i < items.length - 1; i++)
                items[i].remove()
            last.parentElement.insertBefore(fragment, last);
            if (start == 1)
                items[0].hidden = true;
            else
                items[0].hidden = false;
            if (start + len > PageMax)
                last.hidden = true;
            else
                last.hidden = false;

        }

        // 点击顶部Tab
        function clickTab(e, id) {
            if (id == SelectedTab)
                return;
            document.querySelector('#select-tab').querySelectorAll('a')[SelectedTab].classList.remove('active');
            SelectedTab = id;
            e.classList.add('active');
            clearTable();
            let status
            switch (id) {
                case 0:
                    status = 'all';
                    break;
                case 1:
                    status = 'ReadyToUse';
                    break;
                case 2:
                    status = 'forbidden';
                    break;
                case 3:
                    status = 'Submitted';
                    break;
            }
            $.ajax({
                url: "{% url 'super_manage:get_rows' %}",
                type: "GET",
                data: {
                    "status": status,
                    "tableName": "vector"
                },
                async: false,
                success: function (res) {
                    console.log(res.newVal)
                    if (res.status == 'error') {
                        alert(res.data.message)
                    } else {
                        PageMax = res.data.max_page;
                        RowMax = res.data.max_row;
                        Rows = JSON.parse(res.data.rows.replace(/\&quot;/g, '\"'));
                        setPageItems(1, PageMax);
                        setTable(1, RowMax);
                    }
                },
                error: function (res) {
                    alert('Request error.' + res.toString())
                }
            });

        }

                // 点击Revoke按钮
        function clickRevokeOrNext(e, type) {
            let row = get_row_content(e);
            $.ajax({
                url: "{% url 'super_manage:change_status' %}",
                type: "GET",
                data: {
                    "id": row.id,
                    'opr': type,
                    'table':'vector'
                },
                async: false,
                success: function (res) {
                    console.log(res.newVal)
                    if (res.status == 'error') {
                        alert(res.message)
                    } else if (res.status == 'failed') {
                        alert(res.message + ' Try to refresh this page.')
                    } else {
                        let newVal = res.newVal;
                        setRowStatus(e.parentElement, newVal);
                    }
                },
                error: function (res) {
                    alert('Request error.')
                }
            });
        }

        function clickDelMap(e) {
            let row = get_row_content(e);
            console.log('clickDelMap', e);
            $.ajax({
                url: "{% url 'super_manage:vector_delete' %}",
                type: "GET",
                data: {
                    "vector_id": row.id
                },
                async: false,
                success: function (res) {
                    if (res.status == 'success') {
                        setRowMap(e.parentElement.parentElement, "upload")
                    }
                },
                error: function (res) {
                    alert('Request error.')
                }
            });
        }

        function clickUpSubmit(e) {
            // 提交准备上传的文件
            let input = e.parentElement.parentElement.querySelector('input');
            let row = get_row_content(e);
            let formData = new FormData();
            formData.append('vector_id', row.id);
            formData.append('vector_file', input.files[0]);
            formData.append('csrfmiddlewaretoken', '{{ csrf_token }}')
            $.ajax({
                url: "{% url 'super_manage:vector_upload' %}",
                type: "POST",
                data: formData,
                async: false,
                processData: false,
                contentType: false,
                success: function (res) {
                    if (res.status == 'error') {
                        alert(res.message)
                    } else {
                        let newVal = res.newVal;
                        setRowMap(e.parentElement.parentElement, "file-down", null, newVal);
                    }
                },
                error: function (res) {
                    alert('Request error. ' + res)
                },
                finally: function (res) {
                    console.log(res)
                }
            });
        }


        function fileChange(target) {
            let fileSize = 0;
            const filepath = target.value;
            const filemaxsize = 1024 * 2;//2M
            const isIE = navigator.userAgent.match(/MSIE/) != null;
            if (isIE && !target.files) {
                const fileSystem = new ActiveXObject("Scripting.FileSystemObject");
                if (!fileSystem.FileExists(filePath)) {
                    alert("File does not exist");
                    return false;
                }
                const file = fileSystem.GetFile(filePath);
                fileSize = file.Size;
            } else {
                fileSize = target.files[0].size;
            }

            const size = fileSize / 1024;
            if (size > filemaxsize) {
                alert("File cannot be larger than 2M");
                target.value = "";
                return false;
            }
            if (size <= 0) {
                alert("File cannot be empty");
                target.value = "";
                return false;
            }
            target.parentElement
            setRowMap(target.parentElement.parentElement, "pre-upload", target.files[0].name, filepath);
        }

        function clickDelPreUpload(e) {
            let input = e.parentElement.parentElement.querySelector('input');
            // 删除准备上传的文件
            input.value = "";
            setRowMap(e.parentElement.parentElement, "upload");
        }

        function clickCancel(e) {
            // 取消修改，获取第几行，然后重新设置表
            // 查找最近的tr父节点，不使用parentElement是因为可能有空白节点
            let row = e.closest('tr');
            let rowNum = parseInt(row.querySelector('th').textContent);
            row.replaceWith(getTableRow(rowNum, Rows[rowNum - 1]));
        }

        function submitRowInput(e) {
            let row = e.closest('tr');
            let inputs = row.querySelectorAll('input');
            let rowNum = parseInt(row.querySelector('th').textContent);

            let data = {
                'id': Rows[rowNum - 1]['id'],
                'Map seq': inputs[0].value,
                'Vector ID': inputs[1].value,
                'iD20': inputs[2].value,
                'iU20': inputs[3].value,
            }
            // 添加token示例
            $.ajax({
                url: "{% url 'super_manage:submit_vector_data' %}",
                type: "POST",
                data: JSON.stringify(data),
                contentType: 'application/json',
                dataType: 'json',
                headers: {"X-CSRFToken": '{{ csrf_token }}'},
                success: function (res) {
                    if (res.status == 'error') {
                        alert(res.message)
                        return
                    }
                    Rows[rowNum - 1]['Map seq'] = data['Map seq'];
                    Rows[rowNum - 1]['Vector ID'] = data['Vector ID'];
                    Rows[rowNum - 1]['iD20'] = data['iD20'];
                    Rows[rowNum - 1]['iU20'] = data['iU20'];
                    // 设置按钮不可用
                    e.disabled = true;
                    e.previousElementSibling.disabled = true;
                },
                error: function (res) {
                    console.log(res)
                    alert('Request error.' + res.data)
                }
            });

        }

        $(document).ready(function () {  //里面是需要加载的js
            // 通过检查来测试浏览器是否支持 HTML 模板元素
            if ("content" in document.createElement("template")) {
                setPageItems(1, PageMax);
                setTable(1, RowMax);
            } else {
                // 找到另一种方法来添加行到表，因为不支持 HTML 模板元素。
                alert("请更新浏览器")
            }
        });


    </script>


{% endblock %}