{% load static %}
<header class="p-3 text-white" style="background-color: #002060;"> <!-- 替换为您提供的蓝色色值 -->
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            
            <!-- Logo部分 -->
            <a href="{% url 'home' %}" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                <img src="{% static 'rootpath.logo.png' %}" alt="Logo"> <!-- 替换为您logo的路径 -->
            </a>

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="{% url 'home' %}" class="nav-link px-2 text-secondary">Home</a></li>
                <li><a href="{% url 'product:product_list' %}" class="nav-link px-2 text-secondary">Products</a></li>
            </ul>

            <div class="text-end">
                {% if user.is_authenticated %}
                <div class="dropdown">
                    <a href="#" class="d-flex align-items-center link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
                        <strong>{{ user.username }}</strong>
                      </a>
                    {% comment %} <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">{{ user.username }}</a> {% endcomment %}
                    <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownMenuLink">
                        <li><a class="dropdown-item" href="{% url 'user_center:dashboard' %}">User Center</a></li>
                        <li><a class="dropdown-item" href="{% url 'account:my_information' %}">Profile</a></li>
                        <li><a class="dropdown-item" href="#">Account</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="{% url 'account:user_logout' %}">Logout</a></li>
                    </ul>
                </div>
                {% else %}
                    <a href="{% url 'account:user_login' %}" role="button" class="btn btn-outline-light me-2">Login</a>
                    <a href="{% url 'account:user_register' %}" role="button" class="btn btn-warning">Sign-up</a>
                {% endif %}
            </div>
        </div>
    </div>
</header>
