{% load static %}
<nav class="navbar navbar-expand-lg p-3 text-white" style="background-color: #002060;"> <!-- 蓝色色值 -->
    <div class="container">
        <!-- Logo部分 -->
        <a class="navebar-brand" href="{% url 'home' %}">
            <img src="{% static 'rootpath.logo.png' %}" alt="Logo"> <!-- logo的路径 -->
        </a>

        <!-- 汉堡菜单按钮，小屏幕上显示 -->
        <button class="navbar-toggler bg-white" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <!-- 导航链接，小屏幕上隐藏，中屏幕及以上显示 -->
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <!-- 导航项 -->
                <li class="nav-item"><a class="nav-link px-3 text-light" href="{% url 'home' %}">Home</a></li>
                <li class="nav-item"><a class="nav-link px-3 text-light" href="{% url 'user_center:dashboard' %}">User Center</a></li>
                <li class="nav-item"><a class="nav-link px-3 text-light" href="{% url 'user_center:order_create' %}">Create New Order</a></li>
            </ul>

            <!-- 用户认证逻辑 -->
            <div class="ms-auto">
                {% if user.is_authenticated %}
                <div class="dropdown" style="color:#FFFFFF;">
                    <a href="#" class="d-flex align-items-center link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="{% static 'images/user_icon.jpg' %}" alt="" width="32" height="32" class="rounded-circle me-2">
                        <strong style="color:#FFFFFF;">{{ user.username }}</strong>
                    </a>
                    <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownMenuLink">
                        <li><a class="dropdown-item" href="{% url 'user_center:dashboard' %}">User Center</a></li>
                        <li><a class="dropdown-item" href="{% url 'account:my_information' %}">Profile</a></li>
                        <li><a class="dropdown-item" href="#">Account</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="{% url 'account:user_logout' %}">Logout</a></li>
                    </ul>
                </div>
                {% else %}
                    <a href="{% url 'account:user_login' %}" role="button" class="btn btn-outline-light me-2">Login</a>
                    <a href="{% url 'account:user_register' %}" role="button" class="btn btn-warning">Sign-up</a>
                {% endif %}
            </div>
        </div>
    </div>
</nav>
