{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block title %}Login{% endblock %}
{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        {% if form.errors %}
        <div class="col-12 mb-3">
            <div class="alert alert-danger text-center" role="alert">
                <p>Your username and password didn't match. Please try again.</p>
            </div>
        </div>
        {% endif %}

        <div class="col-md-6">
            <div class="card shadow-sm">

                <!-- Logo section -->
                <div class="text-center mt-3">
                    <img src="{% static 'images/favicon.png' %}" alt="Logo" class="img-fluid rounded-circle shadow" style="width: 70px; height: 70px; object-fit: cover;">
                </div>

                <div class="card-body">
                    <form method="post" role="form" class="needs-validation" autocomplete="off">
                        {% csrf_token %}
                        
                        <!-- Username input with floating label -->
                        <div class="form-floating mb-3">
                            {{ form.username|add_class:"form-control" }}
                            <label for="{{ form.username.id_for_label }}">Username</label>
                        </div>
                        
                        <!-- Password input with floating label -->
                        <div class="form-floating mb-3">
                            {{ form.password|add_class:"form-control" }}
                            <label for="{{ form.password.id_for_label }}">Password</label>
                        </div>

                        <div class="d-grid col-auto">
                            <button type="submit" class="btn btn-primary">Sign in</button>
                        </div>
                    </form>
                </div>
                <div class="card-footer text-center">
                    <p class="mb-0">Don't have an account yet? <a href="{% url 'account:user_register' %}" class="text-decoration-none">Register here.</a></p>
                    <p class="mb-0">Forgot your password? <a href="{% url 'account:forgot_passwd' %}" class="text-decoration-none">Click here.</a></p>
                    
                    <hr>
                    <p class="mb-0">{% trans "Or sign in with" %}</p>
                    <a href="{% url 'account_login' %}?process=login&next=/accounts/feishu/login/callback/" class="btn btn-outline-secondary mt-2">
                        <img src="{% static 'images/feishu-logo.png' %}" alt="Feishu" style="width: 20px; height: 20px; margin-right: 5px;">
                        {% trans "Feishu" %}
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
